openapi: 3.0.3
info:
  version: ''
  title: Cicero
  description: |-
    ## Overview ##

    Cicero is a powerful Cloud API designed to seamlessly match addresses or locations to legislative districts while providing comprehensive contact information for elected officials.

    Things you might want to use Cicero for:
    - Provide an elected official lookup tool on your website.
    - Create constituent records in your database.
    - Display district boundaries on a map.
    - Show elected official profiles in your app.

    **Documentation**
    - [Cicero Documentation](https://docs.melissa.com/cloud-api/cicero/cicero-index.html)

    **Useful Resources**
    - [GitHub](https://github.com/MelissaData/MelissaCloudAPI-OpenAPI-Specifications)
    - [Release Notes](https://releasenotes.melissa.com/cloud-api/cicero-api/)

    ## Location Query ##

    The primary way to get information from Cicero's database of officials and districts is through a location query.

    When you include API call parameters that provide a location in the form of a latitude & longitude coordinate, street address, or postal code, Cicero will find that location on the Earth's surface and match it against a range of district boundaries. In this way, you can determine which elected official represents any home, business, or place in regions with Cicero coverage.

    | Location Query        | Parameters |
    | --------------------- | ---------- |
    | Latitude & Longitude  | `lat`, `lon`   |
    | Address               | (`search_loc`) OR (`search_address`, `search_neighborhood`, `search_city`, `search_state`, `search_postal`, `search_country`) |
    | Postal Code           | `search_postal`, `search_country`   |

    **Product Page**

    [https://www.melissa.com/cicero-api](https://www.melissa.com/cicero-api)

    **Support Center**

    [https://www.melissa.com/company/product-support](https://www.melissa.com/company/product-support)

security: []
tags:
  - name: Officials
    description: |
      Use these endpoints to find elected officials.
  - name: Districts
    description: |
      Use these endpoints to find districts.
  - name: Map
    description: |
      Use this endpoint to get a map of district boundaries.
  - name: Events
    description: |
      Use these endpoints to find events.
  - name: Coverage
    description: |
      Use this endpoint to get Cicero's data coverage.
  - name: Account Credits Remaining
    description: |
      Use this endpoint to check the remaining credits for an account.
  - name: District Type
    description: |
      Use this endpoint to get information on district categories.
  - name: Version
    description: |
      Use this endpoint to check the current version of Cicero.
servers:
  - url: https://app.cicerodata.com/v3.1
paths:
  /official:
    get:
      tags:
        - Officials
      summary: Find elected officials
      description: |
        Cicero tracks elected officials and makes their information available through the official resource. The default response ordering is by `last_name`, `first_name`.

        Use location queries on this resource. You can also query for officials using the official's name.

        Cost: 1 credit
      operationId: official
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
        - $ref: '#/components/parameters/FormatParam'
        - $ref: '#/components/parameters/CustomerIdParam'
        - $ref: '#/components/parameters/LicenseKeyParam'
        - name: lat
          in: query
          description: Required. The latitude of the location.
          required: true
          schema:
            type: string
          example: '33.63756710910554'
        - name: lon
          in: query
          description: Required. The longitude of the location.
          required: true
          schema:
            type: string
          example: '-117.60695049134513'
        - name: search_loc
          in: query
          description: Required. One line address or a single search string.
          schema:
            type: string
        - name: search_address
          in: query
          description: Required. The street address of the location.
          schema:
            type: string
        - name: search_neighborhood
          in: query
          description: Required. The official neighborhood of the location (in countries with postal designations e.g., Mexico).
          schema:
            type: string
        - name: search_city
          in: query
          description: Required. The city of the location.
          schema:
            type: string
        - name: search_state
          in: query
          description: Required. The state of the location.
          schema:
            type: string
        - name: search_postal
          in: query
          description: Required. The postal code of the location.
          schema:
            type: string
        - name: search_country
          in: query
          description: Required. The country of the location (Use ISO 3166-1 alpha-2 code).
          schema:
            type: string
        - name: last_name
          in: query
          description: Required. The official's last name.
          schema:
            type: string
        - name: first_name
          in: query
          description: The official's first name.
          schema:
            type: string
        - name: city
          in: query
          description: The city of the location used as a filter.
          schema:
            type: string
        - name: state
          in: query
          description: The state of the location used as a filter.
          schema:
            type: string
        - name: country
          in: query
          description: The country of the location (Use ISO 3166-1 alpha-2 code) used as a filter.
          schema:
            type: string
        - name: order
          in: query
          description: The name of the resource field by which to order the results.
          schema:
            type: string
        - name: sort
          in: query
          description: Whether to sort the results in ascending or descending order.
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - name: district_type
          in: query
          description: The type of district.
          schema:
            type: string
          example: NATIONAL_LOWER
        - name: district_id
          in: query
          description: The ID, number, or name of the official's district.
          schema:
            type: string
        - name: valid_on
          in: query
          description: The date the district is valid on. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
        - name: valid_on_or_after
          in: query
          description: The date the district is valid on or after. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
        - name: valid_on_or_before
          in: query
          description: The date the district is valid on or before. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
        - name: valid_range
          in: query
          description: The dates during which the district is valid. Dates should be specified in a `YYYY-MM-DD` format and separated by a comma. Use `ALL` to return every district in all valid date ranges.
          schema:
            type: string
        - name: max
          in: query
          description: The maximum number of objects to return.
          schema:
            type: integer
            maximum: 200
            default: 40
        - name: offset
          in: query
          description: Number of items to skip in the response, starting from the beginning of the list.
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: '#/components/schemas/ResponseOfficial'
              example:
                response:
                  errors: []
                  messages: []
                  results:
                    officials:
                    - id: 465917
                      sk: 343935
                      valid_from: '2021-01-22 00:00:00'
                      valid_to: '2025-01-20 00:00:00'
                      last_update_date: '2023-08-01 06:43:00.678324'
                      salutation: ''
                      first_name: Lloyd
                      middle_initial: J.
                      last_name: Austin
                      nickname: ''
                      preferred_name: ''
                      name_suffix: III
                      office:
                        id: 465917
                        sk: 343935
                        valid_from: '2021-01-22 00:00:00'
                        valid_to: '2025-01-20 00:00:00'
                        last_update_date: '2023-08-01 06:43:00.678324'
                        district:
                          id: 19
                          sk: 19
                          valid_from: '0001-01-01 04:56:02'
                          valid_to: null
                          last_update_date: '2012-03-18 07:46:32'
                          district_type: NATIONAL_EXEC
                          subtype: NATION
                          country: US
                          state: ''
                          city: ''
                          district_id: UNITED STATES
                          label: United States
                          num_officials: 26
                          ocd_id: ocd-division/country:us
                          data: {}
                        representing_city: ''
                        representing_state: ''
                        representing_country:
                          status: UN Member State
                          name_short: United States
                          gmi_3: USA
                          valid_from: '0001-01-01 00:00:00'
                          name_short_iso: United States
                          name_short_local: United States
                          valid_to: null
                          id: 270
                          sk: 247
                          name_short_un: United States of America
                          version: 1
                          fips: US
                          last_update_date: '2012-10-10 17:29:57.613222'
                          iso_3: USA
                          iso_2: US
                          iso_3_numeric: 840
                          name_long_local: United States of America
                          name_long: United States of America
                        notes: ''
                        title: Secretary of Defense
                        chamber:
                          legislature_update_date: null
                          official_count: 1
                          id: 7703
                          term_length: Serves at the pleasure of the President
                          term_limit: No term limits.
                          inauguration_rules: The Secretary takes office immediately upon confirmation
                            by the Senate.
                          name_native_language: ''
                          contact_phone: ''
                          name_formal: United States Secretary of Defense
                          election_frequency: ''
                          government:
                            name: United States of America
                            type: NATIONAL
                            city: ''
                            state: ''
                            country:
                              status: UN Member State
                              name_short: United States
                              gmi_3: USA
                              valid_from: '0001-01-01 00:00:00'
                              name_short_iso: United States
                              name_short_local: United States
                              valid_to:
                              id: 270
                              sk: 247
                              name_short_un: United States of America
                              version: 1
                              fips: US
                              last_update_date: '2012-10-10 17:29:57.613222'
                              iso_3: USA
                              iso_2: US
                              iso_3_numeric: 840
                              name_long_local: United States of America
                              name_long: United States of America
                            notes: ''
                          redistricting_rules: ''
                          vacancy_rules: Vacancies are filled via appointment by the President pending
                            confirmation by the Senate.
                          is_chamber_complete: true
                          contact_email: ''
                          last_update_date: '2021-07-20 15:43:37.994626'
                          remarks: The Secretary serves at the pleasure of the President and may be
                            removed from office at any time without approval from the Senate.
                          name: Secretary of Defense
                          url: https://www.defense.gov/
                          type: EXEC
                          notes: ''
                          has_geographic_representation: false
                          is_appointed: true
                          election_rules: Appointees are nominated by the President and confirmed
                            by the Senate via simple majority at a confirmation hearing. If the Senate
                            is not in session, the President may directly appoint an acting Secretary
                            who serves pending confirmation by the Senate.
                        election_rules: ''
                      initial_term_start_date: null
                      current_term_start_date: '2021-01-22 00:00:00'
                      term_end_date: '2025-01-20 00:00:00'
                      addresses:
                      - address_1: 1000 Defense Pentagon
                        address_2: ''
                        address_3: ''
                        city: Washington
                        county: ''
                        state: DC
                        postal_code: '20301'
                        phone_1: "(703) 571-8951"
                        fax_1: ''
                        phone_2: ''
                        fax_2: ''
                      email_addresses: []
                      web_form_url: ''
                      urls:
                      - https://www.defense.gov/our-story/meet-the-team/secretary-of-defense/
                      photo_origin_url: https://media.defense.gov/2021/Jan/29/2002592436/825/780/0/210123-A-CN110-0001.JPG
                      photo_cropping: null
                      notes:
                      - Lloyd James Austin III was sworn in as the 28th Secretary of Defense on January
                        22, 2021. Mr. Austin is the principal assistant to the President in all matters
                        relating to the Department of Defense and serves on the National Security
                        Council.\n\nMr. Austin was born in Mobile, Alabama, and raised in Thomasville,
                        Georgia. He graduated from the United States Military Academy with a Bachelor
                        of Science degree and a commission in the Infantry. He holds a Master of Arts
                        degree in counselor education from Auburn University, and a Master of Business
                        Management from Webster University. He is a graduate of the Infantry Officer
                        Basic and Advanced courses, the Army Command and General Staff College, and
                        the Army War College.\n\nHis 41-year career in the Army included command at
                        the corps, division, battalion, and brigade levels. Mr. Austin was awarded
                        the Silver Star for his leadership of the Army's 3rd Infantry Division during
                        the invasion of Iraq in 2003.  Seven years later, he would assume the duties
                        of Commanding General of United States Forces - Iraq, overseeing all combat
                        operations in the country. \n\nAfter a tour as the Army's Vice Chief of Staff,
                        Mr. Austin concluded his uniformed service as the Commander of U.S. Central
                        Command, responsible for all military operations in the Middle East and Afghanistan.  In
                        this assignment, he led U.S. and coalition efforts to battle ISIS in Iraq
                        and Syria.  He retired from the Army in April, 2016.\n\nSince his retirement
                        from military service, Mr. Austin served on the Boards of Directors for Raytheon
                        Technologies, Nucor, and Tenet Healthcare.
                      - '1953-08-08'
                      committees: []
                      party: ''
                      identifiers:
                      - official: 465917
                        version: 1
                        identifier_type: FLICKR
                        valid_to: '2025-01-20 00:00:00'
                        sk: 995717
                        valid_from: '2021-01-22 00:00:00'
                        last_update_date: '2023-08-01 06:43:00.678324'
                        id: 995717
                        identifier_value: secdef
                      - official: 465917
                        version: 1
                        identifier_type: TWITTER
                        valid_to: '2025-01-20 00:00:00'
                        sk: 995716
                        valid_from: '2021-01-22 00:00:00'
                        last_update_date: '2023-08-01 06:43:00.678324'
                        id: 995716
                        identifier_value: SecDef
                      - official: 465917
                        version: 1
                        identifier_type: VOTESMART
                        valid_to: '2025-01-20 00:00:00'
                        sk: 995718
                        valid_from: '2021-01-22 00:00:00'
                        last_update_date: '2023-08-01 06:43:00.678324'
                        id: 995718
                        identifier_value: '195717'
                      titles: []
                    count:
                      from: 0
                      to: 0
                      total: 49
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseOfficial'
              example: |
                <response>
                  <errors />
                  <messages />
                  <results>
                      <officials>
                          <official>
                              <id>465917</id>
                              <sk>343935</sk>
                              <valid_from>2021-01-22 00:00:00</valid_from>
                              <valid_to>2025-01-20 00:00:00</valid_to>
                              <last_update_date>2023-08-01 06:43:00.678324</last_update_date>
                              <salutation />
                              <first_name>Lloyd</first_name>
                              <middle_initial>J.</middle_initial>
                              <last_name>Austin</last_name>
                              <nickname />
                              <preferred_name />
                              <name_suffix>III</name_suffix>
                              <office>
                                  <id>465917</id>
                                  <sk>343935</sk>
                                  <valid_from>2021-01-22 00:00:00</valid_from>
                                  <valid_to>2025-01-20 00:00:00</valid_to>
                                  <last_update_date>2023-08-01 06:43:00.678324</last_update_date>
                                  <district>
                                      <id>19</id>
                                      <sk>19</sk>
                                      <valid_from>0001-01-01 04:56:02</valid_from>
                                      <valid_to>None</valid_to>
                                      <last_update_date>2012-03-18 07:46:32</last_update_date>
                                      <district_type>NATIONAL_EXEC</district_type>
                                      <subtype>NATION</subtype>
                                      <country>US</country>
                                      <state />
                                      <city />
                                      <district_id>UNITED STATES</district_id>
                                      <label>United States</label>
                                      <num_officials>26</num_officials>
                                      <ocd_id>ocd-division/country:us</ocd_id>
                                      <data />
                                  </district>
                                  <representing_city />
                                  <representing_state />
                                  <representing_country>
                                      <status>UN Member State</status>
                                      <name_short>United States</name_short>
                                      <gmi_3>USA</gmi_3>
                                      <valid_from>0001-01-01 00:00:00</valid_from>
                                      <name_short_iso>United States</name_short_iso>
                                      <name_short_local>United States</name_short_local>
                                      <valid_to>None</valid_to>
                                      <id>270</id>
                                      <sk>247</sk>
                                      <name_short_un>United States of America</name_short_un>
                                      <version>1</version>
                                      <fips>US</fips>
                                      <last_update_date>2012-10-10 17:29:57.613222</last_update_date>
                                      <iso_3>USA</iso_3>
                                      <iso_2>US</iso_2>
                                      <iso_3_numeric>840</iso_3_numeric>
                                      <name_long_local>United States of America</name_long_local>
                                      <name_long>United States of America</name_long>
                                  </representing_country>
                                  <notes />
                                  <title>Secretary of Defense</title>
                                  <chamber>
                                      <legislature_update_date>None</legislature_update_date>
                                      <official_count>1</official_count>
                                      <id>7703</id>
                                      <term_length>Serves at the pleasure of the President</term_length>
                                      <term_limit>No term limits.</term_limit>
                                      <inauguration_rules>The Secretary takes office immediately upon confirmation by the Senate.</inauguration_rules>
                                      <name_native_language />
                                      <contact_phone />
                                      <name_formal>United States Secretary of Defense</name_formal>
                                      <election_frequency />
                                      <government>
                                          <name>United States of America</name>
                                          <type>NATIONAL</type>
                                          <city />
                                          <state />
                                          <country>
                                              <status>UN Member State</status>
                                              <name_short>United States</name_short>
                                              <gmi_3>USA</gmi_3>
                                              <valid_from>0001-01-01 00:00:00</valid_from>
                                              <name_short_iso>United States</name_short_iso>
                                              <name_short_local>United States</name_short_local>
                                              <valid_to>None</valid_to>
                                              <id>270</id>
                                              <sk>247</sk>
                                              <name_short_un>United States of America</name_short_un>
                                              <version>1</version>
                                              <fips>US</fips>
                                              <last_update_date>2012-10-10 17:29:57.613222</last_update_date>
                                              <iso_3>USA</iso_3>
                                              <iso_2>US</iso_2>
                                              <iso_3_numeric>840</iso_3_numeric>
                                              <name_long_local>United States of America</name_long_local>
                                              <name_long>United States of America</name_long>
                                          </country>
                                          <notes />
                                      </government>
                                      <redistricting_rules />
                                      <vacancy_rules>Vacancies are filled via appointment by the President pending confirmation by the Senate.</vacancy_rules>
                                      <is_chamber_complete>True</is_chamber_complete>
                                      <contact_email />
                                      <last_update_date>2021-07-20 15:43:37.994626</last_update_date>
                                      <remarks>The Secretary serves at the pleasure of the President and may be removed from office at any time without approval from the Senate.</remarks>
                                      <name>Secretary of Defense</name>
                                      <url>https://www.defense.gov/</url>
                                      <type>EXEC</type>
                                      <notes />
                                      <has_geographic_representation>False</has_geographic_representation>
                                      <is_appointed>True</is_appointed>
                                      <election_rules>Appointees are nominated by the President and confirmed by the Senate via simple majority at a confirmation hearing. If the Senate is not in session, the President may directly appoint an acting Secretary who serves pending confirmation by the Senate.</election_rules>
                                  </chamber>
                                  <election_rules />
                              </office>
                              <initial_term_start_date>None</initial_term_start_date>
                              <current_term_start_date>2021-01-22 00:00:00</current_term_start_date>
                              <term_end_date>2025-01-20 00:00:00</term_end_date>
                              <addresses>
                                  <address>
                                      <address_1>1000 Defense Pentagon</address_1>
                                      <address_2 />
                                      <address_3 />
                                      <city>Washington</city>
                                      <county />
                                      <state>DC</state>
                                      <postal_code>20301</postal_code>
                                      <phone_1>(703) 571-8951</phone_1>
                                      <fax_1 />
                                      <phone_2 />
                                      <fax_2 />
                                  </address>
                              </addresses>
                              <email_addresses />
                              <web_form_url />
                              <urls>
                                  <url>https://www.defense.gov/our-story/meet-the-team/secretary-of-defense/</url>
                              </urls>
                              <photo_origin_url>https://media.defense.gov/2021/Jan/29/2002592436/825/780/0/210123-A-CN110-0001.JPG</photo_origin_url>
                              <photo_cropping>None</photo_cropping>
                              <notes>
                                  <note>Lloyd James Austin III was sworn in as the 28th Secretary of Defense on January 22, 2021. Mr. Austin is the principal assistant to the President in all matters relating to the Department of Defense and serves on the National Security Council.\n\nMr. Austin was born in Mobile, Alabama, and raised in Thomasville, Georgia. He graduated from the United States Military Academy with a Bachelor of Science degree and a commission in the Infantry. He holds a Master of Arts degree in counselor education from Auburn University, and a Master of Business Management from Webster University. He is a graduate of the Infantry Officer Basic and Advanced courses, the Army Command and General Staff College, and the Army War College.\n\nHis 41-year career in the Army included command at the corps, division, battalion, and brigade levels. Mr. Austin was awarded the Silver Star for his leadership of the Army&#8217;s 3rd Infantry Division during the invasion of Iraq in 2003.  Seven years later, he would assume the duties of Commanding General of United States Forces &#8211; Iraq, overseeing all combat operations in the country. \n\nAfter a tour as the Army&#8217;s Vice Chief of Staff, Mr. Austin concluded his uniformed service as the Commander of U.S. Central Command, responsible for all military operations in the Middle East and Afghanistan.  In this assignment, he led U.S. and coalition efforts to battle ISIS in Iraq and Syria.  He retired from the Army in April, 2016.\n\nSince his retirement from military service, Mr. Austin served on the Boards of Directors for Raytheon Technologies, Nucor, and Tenet Healthcare.</note>
                                  <note>1953-08-08</note>
                              </notes>
                              <committees />
                              <party />
                              <identifiers>
                                  <identifier>
                                      <official>465917</official>
                                      <version>1</version>
                                      <identifier_type>FLICKR</identifier_type>
                                      <valid_to>2025-01-20 00:00:00</valid_to>
                                      <sk>995717</sk>
                                      <valid_from>2021-01-22 00:00:00</valid_from>
                                      <last_update_date>2023-08-01 06:43:00.678324</last_update_date>
                                      <id>995717</id>
                                      <identifier_value>secdef</identifier_value>
                                  </identifier>
                                  <identifier>
                                      <official>465917</official>
                                      <version>1</version>
                                      <identifier_type>TWITTER</identifier_type>
                                      <valid_to>2025-01-20 00:00:00</valid_to>
                                      <sk>995716</sk>
                                      <valid_from>2021-01-22 00:00:00</valid_from>
                                      <last_update_date>2023-08-01 06:43:00.678324</last_update_date>
                                      <id>995716</id>
                                      <identifier_value>SecDef</identifier_value>
                                  </identifier>
                                  <identifier>
                                      <official>465917</official>
                                      <version>1</version>
                                      <identifier_type>VOTESMART</identifier_type>
                                      <valid_to>2025-01-20 00:00:00</valid_to>
                                      <sk>995718</sk>
                                      <valid_from>2021-01-22 00:00:00</valid_from>
                                      <last_update_date>2023-08-01 06:43:00.678324</last_update_date>
                                      <id>995718</id>
                                      <identifier_value>195717</identifier_value>
                                  </identifier>
                              </identifiers>
                              <titles />
                          </official>
                      </officials>
                      <count>
                          <from>0</from>
                          <to>0</to>
                          <total>49</total>
                      </count>
                  </results>
                </response>
        '400':
          $ref: '#/components/responses/error'
  /officials_by_region:
    get:
      tags:
        - Officials
      summary: Find elected officials by region
      description: |
        This resource provides the ability to list elected officials by level and region rather than for a single geographic location. The endpoint is filtered by district type and region, and sorted by `last_name`, `first_name`.

        Cost: 50 credits

        Permission: Please contact the Cicero Team to request access to this resource.
      operationId: officials_by_region
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
        - $ref: '#/components/parameters/FormatParam'
        - $ref: '#/components/parameters/CustomerIdParam'
        - $ref: '#/components/parameters/LicenseKeyParam'
        - name: district_type
          in: query
          description: Required. The type of district.
          required: true
          schema:
            type: string
          example: NATIONAL_LOWER
        - name: country
          in: query
          description: Required. The country of the location (Use ISO 3166-1 alpha-2 code) used as a filter.
          required: true
          schema:
            type: string
          example: US
        - name: city
          in: query
          description: The city of the location used as a filter.
          schema:
            type: string
        - name: state
          in: query
          description: The state of the location used as a filter.
          schema:
            type: string
          example: CA
        - name: district_id
          in: query
          description: The ID, number, or name of the official's district.
          schema:
            type: string
        - name: max
          in: query
          description: The maximum number of objects to return.
          schema:
            type: integer
        - name: offset
          in: query
          description: Number of items to skip in the response, starting from the beginning of the list.
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: '#/components/schemas/ResponseOfficialsByRegion'
              example:
                response:
                  errors: []
                  messages: []
                  results:
                    officials:
                    - first_name: Peter
                      middle_initial: ''
                      last_name: Aguilar
                      preferred_name: Pete
                      salutation: Honorable
                      name_suffix: ''
                      sk: 86313
                      party: Democrat
                      district:
                        district_id: '33'
                        district_type__name_short: NATIONAL_LOWER
                        subtype: LOWER
                        label: California's 33rd Congressional District
                      state: CA
                      chamber__name_formal: United States House of Representatives
                      title: Representative
                      addresses:
                      - address_1: 108 Cannon House Office Building
                        address_2: ''
                        address_3: ''
                        city: Washington
                        county: ''
                        state: DC
                        postal_code: '20515'
                        phone_1: "(202) 225-3201"
                        fax_1: ''
                        phone_2: ''
                        fax_2: ''
                      email_addresses: []
                      phone_1: "(202) 225-3201"
                      phone_2: ''
                      photo_origin_url: https://bioguide.congress.gov/bioguide/photo/A/A000371.jpg
                      web_form_url: https://aguilar.house.gov/email-me/
                      valid_from: '2023-01-03 00:00:00'
                      valid_to: '2025-01-03 00:00:00'
                      identifiers:
                      - identifier_type: FACEBOOK-OFFICIAL
                        identifier_value: https://www.facebook.com/reppeteaguilar/
                      - identifier_type: TWITTER
                        identifier_value: reppeteaguilar
                    count:
                      from: 0
                      to: 51
                      total: 52
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseOfficialsByRegion'
              example: |
                <response>
                  <errors />
                  <messages />
                  <results>
                      <officials>
                          <official>
                              <first_name>Peter</first_name>
                              <middle_initial />
                              <last_name>Aguilar</last_name>
                              <preferred_name>Pete</preferred_name>
                              <salutation>Honorable</salutation>
                              <name_suffix />
                              <sk>86313</sk>
                              <party>Democrat</party>
                              <district>
                                  <district_id>33</district_id>
                                  <district_type__name_short>NATIONAL_LOWER</district_type__name_short>
                                  <subtype>LOWER</subtype>
                                  <label>California's 33rd Congressional District</label>
                              </district>
                              <state>CA</state>
                              <chamber__name_formal>United States House of Representatives</chamber__name_formal>
                              <title>Representative</title>
                              <addresses>
                                  <address>
                                      <address_1>108 Cannon House Office Building</address_1>
                                      <address_2 />
                                      <address_3 />
                                      <city>Washington</city>
                                      <county />
                                      <state>DC</state>
                                      <postal_code>20515</postal_code>
                                      <phone_1>(202) 225-3201</phone_1>
                                      <fax_1 />
                                      <phone_2 />
                                      <fax_2 />
                                  </address>
                              </addresses>
                              <email_addresses />
                              <phone_1>(202) 225-3201</phone_1>
                              <phone_2 />
                              <photo_origin_url>https://bioguide.congress.gov/bioguide/photo/A/A000371.jpg</photo_origin_url>
                              <web_form_url>https://aguilar.house.gov/email-me/</web_form_url>
                              <valid_from>2023-01-03 00:00:00</valid_from>
                              <valid_to>2025-01-03 00:00:00</valid_to>
                              <identifiers>
                                  <identifier>
                                      <identifier_type>FACEBOOK-OFFICIAL</identifier_type>
                                      <identifier_value>https://www.facebook.com/reppeteaguilar/</identifier_value>
                                  </identifier>
                                  <identifier>
                                      <identifier_type>TWITTER</identifier_type>
                                      <identifier_value>reppeteaguilar</identifier_value>
                                  </identifier>
                              </identifiers>
                          </official>
                      </officials>
                      <count>
                          <from>0</from>
                          <to>51</to>
                          <total>52</total>
                      </count>
                  </results>
                </response>
        '400':
          $ref: '#/components/responses/error'
  /legislative_district:
    get:
      tags:
        - Districts
      summary: Find legislative districts
      description: |
        Cicero tracks legislative district boundaries and makes information about the districts available through the legislative_district resource. The default response ordering is by `id`.

        Use location queries on this resource.

        Cost: 1 credit
      operationId: legislative_district
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
        - $ref: '#/components/parameters/FormatParam'
        - $ref: '#/components/parameters/CustomerIdParam'
        - $ref: '#/components/parameters/LicenseKeyParam'
        - name: lat
          in: query
          description: Required. The latitude of the location.
          schema:
            type: string
          required: true
          example: '33.63756710910554'
        - name: lon
          in: query
          required: true
          description: Required. The longitude of the location.
          schema:
            type: string
          example: '-117.60695049134513'
        - name: search_loc
          in: query
          description: Required. One line address or a single search string.
          schema:
            type: string
        - name: search_address
          in: query
          description: Required. The street address of the location.
          schema:
            type: string
        - name: search_neighborhood
          in: query
          description: Required. The official neighborhood of the location (in countries with postal designations e.g., Mexico).
          schema:
            type: string
        - name: search_city
          in: query
          description: Required. The city of the location.
          schema:
            type: string
        - name: search_state
          in: query
          description: Required. The state of the location.
          schema:
            type: string
        - name: search_postal
          in: query
          description: Required. The postal code of the location.
          schema:
            type: string
        - name: search_country
          in: query
          description: Required. The country of the location (Use ISO 3166-1 alpha-2 code).
          schema:
            type: string
        - name: district_type
          in: query
          description: The type of district.
          schema:
            type: string
        - name: country
          in: query
          description: The country of the location (Use ISO 3166-1 alpha-2 code) used as a filter.
          schema:
            type: string
        - name: city
          in: query
          description: The city of the location used as a filter.
          schema:
            type: string
        - name: state
          in: query
          description: The state of the location used as a filter.
          schema:
            type: string
        - name: district_id
          in: query
          description: The identifying code for the district within its delegation or district type.
          schema:
            type: string
        - name: max
          in: query
          description: The maximum number of objects to return.
          schema:
            type: integer
        - name: offset
          in: query
          description: Number of items to skip in the response, starting from the beginning of the list.
          schema:
            type: integer
        - name: valid_on
          in: query
          description: The date the district is valid on. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
        - name: valid_on_or_after
          in: query
          description: The date the district is valid on or after. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
        - name: valid_on_or_before
          in: query
          description: The date the district is valid on or before. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
        - name: valid_range
          in: query
          description: The dates during which the district is valid. Dates should be specified in a `YYYY-MM-DD` format and separated by a comma. Use `ALL` to return every district in all valid date ranges.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: '#/components/schemas/ResponseDistrict'
              example:
                response:
                  errors: []
                  messages: []
                  results:
                    districts:
                    - id: 19
                      sk: 19
                      valid_from: '0001-01-01 04:56:02'
                      valid_to: null
                      last_update_date: '2012-03-18 07:46:32'
                      district_type: NATIONAL_EXEC
                      subtype: EXEC
                      country: US
                      state: ''
                      city: ''
                      district_id: UNITED STATES
                      label: United States
                      num_officials: 26
                      ocd_id: ocd-division/country:us
                      data: {}
                    - id: 875000
                      sk: 875000
                      valid_from: '0001-01-01 04:56:02'
                      valid_to: null
                      last_update_date: '2019-10-22 00:00:00'
                      district_type: STATE_EXEC
                      subtype: EXEC
                      country: US
                      state: CA
                      city: ''
                      district_id: CA
                      label: California
                      num_officials: 17
                      ocd_id: ocd-division/country:us/state:ca
                      data: {}
                    - id: 875101
                      sk: 875101
                      valid_from: '1977-05-18 00:00:00'
                      valid_to: null
                      last_update_date: '2019-10-23 00:00:00'
                      district_type: NATIONAL_UPPER
                      subtype: UPPER
                      country: US
                      state: CA
                      city: ''
                      district_id: CA
                      label: California
                      num_officials: 2
                      ocd_id: ocd-division/country:us/state:ca
                      data: {}
                    - id: 901844
                      sk: 757235
                      valid_from: '2023-01-03 00:00:00'
                      valid_to: '2033-01-03 00:00:00'
                      last_update_date: '2021-12-22 18:09:05.314860'
                      district_type: NATIONAL_LOWER
                      subtype: LOWER
                      country: US
                      state: CA
                      city: ''
                      district_id: '40'
                      label: California's 40th Congressional District
                      num_officials: 1
                      ocd_id: ocd-division/country:us/state:ca/cd:40
                      data: {}
                    - id: 901897
                      sk: 752732
                      valid_from: '2022-12-05 00:00:00'
                      valid_to: null
                      last_update_date: '2021-12-22 18:11:28.991809'
                      district_type: STATE_UPPER
                      subtype: UPPER
                      country: US
                      state: CA
                      city: ''
                      district_id: '38'
                      label: California State Senate district 38
                      num_officials: 1
                      ocd_id: ocd-division/country:us/state:ca/sldu:38
                      data: {}
                    - id: 901972
                      sk: 752685
                      valid_from: '2022-12-05 00:00:00'
                      valid_to: null
                      last_update_date: '2021-12-22 18:13:46.775290'
                      district_type: STATE_LOWER
                      subtype: LOWER
                      country: US
                      state: CA
                      city: ''
                      district_id: '71'
                      label: California Assembly district 71
                      num_officials: 1
                      ocd_id: ocd-division/country:us/state:ca/sldl:71
                      data: {}
                    - id: 903439
                      sk: 895322
                      valid_from: '2023-01-03 00:00:00'
                      valid_to: null
                      last_update_date: '2022-02-01 18:54:38.386223'
                      district_type: LOCAL
                      subtype: COUNTY
                      country: US
                      state: CA
                      city: Orange County
                      district_id: '3'
                      label: Orange County Board of Supervisors district 3
                      num_officials: 1
                      ocd_id: ocd-division/country:us/state:ca/county:orange/council_district:3
                      data: {}
                    count:
                      from: 0
                      to: 6
                      total: 7
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseDistrict'
              example: |
                <response>
                  <errors />
                  <messages />
                  <results>
                      <districts>
                          <district>
                              <id>19</id>
                              <sk>19</sk>
                              <valid_from>0001-01-01 04:56:02</valid_from>
                              <valid_to>None</valid_to>
                              <last_update_date>2012-03-18 07:46:32</last_update_date>
                              <district_type>NATIONAL_EXEC</district_type>
                              <subtype>EXEC</subtype>
                              <country>US</country>
                              <state />
                              <city />
                              <district_id>UNITED STATES</district_id>
                              <label>United States</label>
                              <num_officials>26</num_officials>
                              <ocd_id>ocd-division/country:us</ocd_id>
                              <data />
                          </district>
                          <district>
                              <id>875000</id>
                              <sk>875000</sk>
                              <valid_from>0001-01-01 04:56:02</valid_from>
                              <valid_to>None</valid_to>
                              <last_update_date>2019-10-22 00:00:00</last_update_date>
                              <district_type>STATE_EXEC</district_type>
                              <subtype>EXEC</subtype>
                              <country>US</country>
                              <state>CA</state>
                              <city />
                              <district_id>CA</district_id>
                              <label>California</label>
                              <num_officials>17</num_officials>
                              <ocd_id>ocd-division/country:us/state:ca</ocd_id>
                              <data />
                          </district>
                          <district>
                              <id>875101</id>
                              <sk>875101</sk>
                              <valid_from>1977-05-18 00:00:00</valid_from>
                              <valid_to>None</valid_to>
                              <last_update_date>2019-10-23 00:00:00</last_update_date>
                              <district_type>NATIONAL_UPPER</district_type>
                              <subtype>UPPER</subtype>
                              <country>US</country>
                              <state>CA</state>
                              <city />
                              <district_id>CA</district_id>
                              <label>California</label>
                              <num_officials>2</num_officials>
                              <ocd_id>ocd-division/country:us/state:ca</ocd_id>
                              <data />
                          </district>
                          <district>
                              <id>901844</id>
                              <sk>757235</sk>
                              <valid_from>2023-01-03 00:00:00</valid_from>
                              <valid_to>2033-01-03 00:00:00</valid_to>
                              <last_update_date>2021-12-22 18:09:05.314860</last_update_date>
                              <district_type>NATIONAL_LOWER</district_type>
                              <subtype>LOWER</subtype>
                              <country>US</country>
                              <state>CA</state>
                              <city />
                              <district_id>40</district_id>
                              <label>California's 40th Congressional District</label>
                              <num_officials>1</num_officials>
                              <ocd_id>ocd-division/country:us/state:ca/cd:40</ocd_id>
                              <data />
                          </district>
                          <district>
                              <id>901897</id>
                              <sk>752732</sk>
                              <valid_from>2022-12-05 00:00:00</valid_from>
                              <valid_to>None</valid_to>
                              <last_update_date>2021-12-22 18:11:28.991809</last_update_date>
                              <district_type>STATE_UPPER</district_type>
                              <subtype>UPPER</subtype>
                              <country>US</country>
                              <state>CA</state>
                              <city />
                              <district_id>38</district_id>
                              <label>California State Senate district 38</label>
                              <num_officials>1</num_officials>
                              <ocd_id>ocd-division/country:us/state:ca/sldu:38</ocd_id>
                              <data />
                          </district>
                          <district>
                              <id>901972</id>
                              <sk>752685</sk>
                              <valid_from>2022-12-05 00:00:00</valid_from>
                              <valid_to>None</valid_to>
                              <last_update_date>2021-12-22 18:13:46.775290</last_update_date>
                              <district_type>STATE_LOWER</district_type>
                              <subtype>LOWER</subtype>
                              <country>US</country>
                              <state>CA</state>
                              <city />
                              <district_id>71</district_id>
                              <label>California Assembly district 71</label>
                              <num_officials>1</num_officials>
                              <ocd_id>ocd-division/country:us/state:ca/sldl:71</ocd_id>
                              <data />
                          </district>
                          <district>
                              <id>903439</id>
                              <sk>895322</sk>
                              <valid_from>2023-01-03 00:00:00</valid_from>
                              <valid_to>None</valid_to>
                              <last_update_date>2022-02-01 18:54:38.386223</last_update_date>
                              <district_type>LOCAL</district_type>
                              <subtype>COUNTY</subtype>
                              <country>US</country>
                              <state>CA</state>
                              <city>Orange County</city>
                              <district_id>3</district_id>
                              <label>Orange County Board of Supervisors district 3</label>
                              <num_officials>1</num_officials>
                              <ocd_id>ocd-division/country:us/state:ca/county:orange/council_district:3</ocd_id>
                              <data />
                          </district>
                      </districts>
                      <count>
                          <from>0</from>
                          <to>6</to>
                          <total>7</total>
                      </count>
                  </results>
                </response>
        '400':
          $ref: '#/components/responses/error'
  /nonlegislative_district:
    get:
      tags:
        - Districts
      summary: Find non-legislative districts
      description: |
        Cicero tracks non-legislative district boundaries and makes information about the districts available through the nonlegislative_district resource. The types of non-legislative districts tracked by Cicero vary regionally. The default response ordering is by `id`.

        Use location queries on this resource.

        Cost: 1 credit
      operationId: nonlegislative_district
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
        - $ref: '#/components/parameters/FormatParam'
        - $ref: '#/components/parameters/CustomerIdParam'
        - $ref: '#/components/parameters/LicenseKeyParam'
        - name: district_type
          in: query
          required: true
          description: Required. The type of district.
          schema:
            type: string
          example: SCHOOL
        - name: lat
          in: query
          description: Required. The latitude of the location.
          required: true
          schema:
            type: string
          example: '33.637562'
        - name: lon
          in: query
          description: Required. The longitude of the location.
          required: true
          schema:
            type: string
          example: '-117.606887'
        - name: search_loc
          in: query
          description: Required. One line address or a single search string.
          schema:
            type: string
        - name: search_address
          in: query
          description: Required. The street address of the location.
          schema:
            type: string
        - name: search_neighborhood
          in: query
          description: Required. The official neighborhood of the location (in countries with postal designations e.g., Mexico).
          schema:
            type: string
        - name: search_city
          in: query
          description: Required. The city of the location.
          schema:
            type: string
        - name: search_state
          in: query
          description: Required. The state of the location.
          schema:
            type: string
        - name: search_postal
          in: query
          description: Required. The postal code of the location.
          schema:
            type: string
        - name: search_country
          in: query
          description: Required. The country of the location (Use ISO 3166-1 alpha-2 code).
          schema:
            type: string
        - name: district_id
          in: query
          description: The identifying code for the district within its delegation or district type.
          schema:
            type: string
        - name: max
          in: query
          description: The maximum number of objects to return.
          schema:
            type: integer
        - name: offset
          in: query
          description: Number of items to skip in the response, starting from the beginning of the list.
          schema:
            type: integer
        - name: city
          in: query
          description: The city of the location used as a filter.
          schema:
            type: string
        - name: state
          in: query
          description: The state of the location used as a filter.
          schema:
            type: string
        - name: country
          in: query
          description: The country of the location (Use ISO 3166-1 alpha-2 code) used as a filter.
          schema:
            type: string
        - name: valid_on
          in: query
          description: The date the district is valid on. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
        - name: valid_on_or_after
          in: query
          description: The date the district is valid on or after. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
        - name: valid_on_or_before
          in: query
          description: The date the district is valid on or before. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
        - name: valid_range
          in: query
          description: The dates during which the district is valid. Dates should be specified in a `YYYY-MM-DD` format and separated by a comma. Use `ALL` to return every district in all valid date ranges.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: '#/components/schemas/ResponseDistrict'
              example:
                response:
                  errors: []
                  messages: []
                  results:
                    districts:
                    - id: 920897
                      sk: null
                      valid_from: '2021-01-01 00:00:00'
                      valid_to: null
                      last_update_date: '2022-04-30 00:00:00'
                      district_type: SCHOOL
                      subtype: UNIFIED
                      country: US
                      state: CA
                      city: ''
                      district_id: '0607440'
                      label: Capistrano Unified School District
                      num_officials: 0
                      ocd_id: ocd-division/country:us/state:ca/county:orange/school_district:capistrano_unified
                      data: {}
                    count:
                      from: 0
                      to: 0
                      total: 1
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseDistrict'
              example: |
                <response>
                  <errors />
                  <messages />
                  <results>
                      <districts>
                          <district>
                              <id>920897</id>
                              <sk>None</sk>
                              <valid_from>2021-01-01 00:00:00</valid_from>
                              <valid_to>None</valid_to>
                              <last_update_date>2022-04-30 00:00:00</last_update_date>
                              <district_type>SCHOOL</district_type>
                              <subtype>UNIFIED</subtype>
                              <country>US</country>
                              <state>CA</state>
                              <city />
                              <district_id>0607440</district_id>
                              <label>Capistrano Unified School District</label>
                              <num_officials>0</num_officials>
                              <ocd_id>ocd-division/country:us/state:ca/county:orange/school_district:capistrano_unified</ocd_id>
                              <data />
                          </district>
                      </districts>
                      <count>
                          <from>0</from>
                          <to>0</to>
                          <total>1</total>
                      </count>
                  </results>
                </response>
        '400':
          $ref: '#/components/responses/error'
  /map/{district_id}:
    get:
      tags:
        - Map
      summary: Get map image
      description: |
        Cicero makes simple maps of district boundaries available through the map resource.

        Use the `id` property from a District object with this resource to request an image showing the shape of the district. The appearance of the map can be configured beyond the default style with graphical parameters.

        JSON and XML responses will contain the image as a data URI. Requests with format=image will return only the image.

        Cost: 1 credit
      operationId: map
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
        - $ref: '#/components/parameters/FormatParam'
        - $ref: '#/components/parameters/CustomerIdParam'
        - $ref: '#/components/parameters/LicenseKeyParam'
        - name: width
          in: query
          description: The width in pixels of the returned map image.
          schema:
            type: number
        - name: height
          in: query
          description: The height in pixels of the returned map image.
          schema:
            type: number
        - name: fill_color
          in: query
          description: The color of the district's shape.
          schema:
            type: string
        - name: fill_opacity
          in: query
          description: The opacity of the district's shape.
          schema:
            type: string
        - name: boundary_width
          in: query
          description: The width of the district's outline.
          schema:
            type: number
        - name: boundary_color
          in: query
          description: The color of the district's outline.
          schema:
            type: number
        - name: boundary_line_join
          in: query
          description: The type of [line joins](https://www.w3.org/TR/SVG/painting.html#StrokeLinejoinProperty) for the district's outline.
          schema:
            type: string
        - name: map_format
          in: query
          description: The format of the map image.
          schema:
            type: string
            enum: [png, png8, png32, png256, jpeg]
            default: png
        - name: srs
          in: query
          description: The [EPSG code](https://epsg.io/) spatial reference system code for the map.
          schema:
            type: string
        - in: path
          name: district_id
          required: true
          schema:
            type: number
          description: The `id` property from a District object.
      responses:
        '200':
          $ref: '#/components/responses/responseMap'
        '400':
          $ref: '#/components/responses/error'
  /election_event:
    get:
      tags:
        - Events
      summary: Find election events
      description: |
        Cicero tracks elections occurring in every country around the world and makes information about the elections available through the election_event resource. The default response ordering is by `election_expire_date`.

        Cost: 0 credits
      operationId: election_event
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
        - $ref: '#/components/parameters/FormatParam'
        - $ref: '#/components/parameters/CustomerIdParam'
        - $ref: '#/components/parameters/LicenseKeyParam'
        - name: election_expire_date_on_or_after
          in: query
          description: The earliest date an election is completed. Use `today` for elections completing today or later. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
          example: today
        - name: election_expire_date_before
          in: query
          description: The latest date an election is completed. Use `tomorrow` for elections completing before tomorrow. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
          example: ''
        - name: max
          in: query
          description: The maximum number of objects to return.
          schema:
            type: integer
          example: ''
        - name: offset
          in: query
          description: Number of items to skip in the response, starting from the beginning of the list.
          schema:
            type: integer
          example: ''
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: '#/components/schemas/ResponseElectionEvent'
              example:
                response:
                  errors: []
                  messages: []
                  results:
                    election_events:
                    - id: 25392
                      sk: 25391
                      valid_from: '2024-01-31 16:42:34'
                      valid_to: null
                      last_update_date: '2024-01-31 16:46:01.775726'
                      label: Queensland Legislative Assembly By-election
                      remarks: Ipswich West, Inala
                      election_date_text: 16 March 2024
                      election_expire_date: '2024-03-16 00:00:00'
                      is_approximate: false
                      is_by_election: true
                      is_primary_election: false
                      is_runoff_election: false
                      is_referendum: false
                      is_local: false
                      is_state: true
                      is_national: false
                      is_transnational: false
                      urls:
                      - https://en.wikipedia.org/wiki/2024_Ipswich_West_state_by-election
                      chambers:
                      - legislature_update_date: '0001-01-01 04:56:02'
                        official_count: 93
                        id: 9754
                        term_length: 4 years
                        term_limit: Effective starting with the 2020 election, members of the Queensland
                          Legislative Assembly now have fixed 4-year terms. Formerly, they were 3-year
                          terms.\n\n
                        inauguration_rules: ''
                        name_native_language: ''
                        contact_phone: ''
                        name_formal: Queensland Legislative Assembly
                        election_frequency: 4 years
                        government:
                          name: Queensland, Australia
                          type: STATE
                          city: ''
                          state: QLD
                          country:
                            status: UN Member State
                            name_short: Australia
                            gmi_3: AUS
                            valid_from: '0001-01-01 00:00:00'
                            name_short_iso: Australia
                            name_short_local: Australia
                            valid_to:
                            id: 285
                            sk: 13
                            name_short_un: Australia
                            version: 2
                            fips: AS
                            last_update_date: '2012-10-10 18:11:53.841914'
                            iso_3: AUS
                            iso_2: AU
                            iso_3_numeric: 36
                            name_long_local: Commonwealth of Australia
                            name_long: Commonwealth of Australia
                          notes: 89-seat Legislative Assembly - unicameral, 3 year terms\n\nFull list
                            with bios at:\nhttp://en.wikipedia.org/wiki/Category:Members_of_the_Queensland_Legislative_Assembly
                        redistricting_rules: ''
                        vacancy_rules: ''
                        is_chamber_complete: true
                        contact_email: ''
                        last_update_date: '2023-05-12 14:42:55.746603'
                        remarks: Single-member constituencies.\n\n
                        name: Legislative Assembly
                        url: https://www.parliament.qld.gov.au/
                        type: LOWER
                        notes: See https://www.parliament.qld.gov.au/explore/about-us/parliament-overview/queensland-electoral-system
                          for information about switch to 4-year term.
                        has_geographic_representation: false
                        is_appointed: false
                        election_rules: Section 80 of the Queensland Electoral Act 1992 states that
                          an election must be held on a Saturday, and that the election campaign must
                          run for a minimum of 26 or a maximum of 56 days following the issue of the
                          writs including the day the writ drops and polling day. Five to seven days
                          following the issue of the writs, the electoral roll is closed, which gives
                          voters a final opportunity to enrol or to notify the Electoral Commission
                          of Queensland of any changes in their place of residence.\n\nUnder current
                          election rules, the date of the election is at the discretion of the Governor
                          under advice from the Premier, although the leaders of the two largest parties
                          support in principle a change to fixed four-year terms.
                    count:
                      from: 0
                      to: 1
                      total: 1
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseElectionEvent'
              example: |
                <response>
                  <errors />
                  <messages />
                  <results>
                      <election_events>
                          <election_event>
                              <id>25392</id>
                              <sk>25391</sk>
                              <valid_from>2024-01-31 16:42:34</valid_from>
                              <valid_to>None</valid_to>
                              <last_update_date>2024-01-31 16:46:01.775726</last_update_date>
                              <label>Queensland Legislative Assembly By-election</label>
                              <remarks>Ipswich West, Inala</remarks>
                              <election_date_text>16 March 2024</election_date_text>
                              <election_expire_date>2024-03-16 00:00:00</election_expire_date>
                              <is_approximate>False</is_approximate>
                              <is_by_election>True</is_by_election>
                              <is_primary_election>False</is_primary_election>
                              <is_runoff_election>False</is_runoff_election>
                              <is_referendum>False</is_referendum>
                              <is_local>False</is_local>
                              <is_state>True</is_state>
                              <is_national>False</is_national>
                              <is_transnational>False</is_transnational>
                              <urls>
                                  <url>https://en.wikipedia.org/wiki/2024_Ipswich_West_state_by-election</url>
                              </urls>
                              <chambers>
                                  <chamber>
                                      <legislature_update_date>0001-01-01 04:56:02</legislature_update_date>
                                      <official_count>93</official_count>
                                      <id>9754</id>
                                      <term_length>4 years</term_length>
                                      <term_limit>Effective starting with the 2020 election, members of the Queensland Legislative Assembly now have fixed 4-year terms. Formerly, they were 3-year terms.\n\n</term_limit>
                                      <inauguration_rules />
                                      <name_native_language />
                                      <contact_phone />
                                      <name_formal>Queensland Legislative Assembly</name_formal>
                                      <election_frequency>4 years</election_frequency>
                                      <government>
                                          <name>Queensland, Australia</name>
                                          <type>STATE</type>
                                          <city />
                                          <state>QLD</state>
                                          <country>
                                              <status>UN Member State</status>
                                              <name_short>Australia</name_short>
                                              <gmi_3>AUS</gmi_3>
                                              <valid_from>0001-01-01 00:00:00</valid_from>
                                              <name_short_iso>Australia</name_short_iso>
                                              <name_short_local>Australia</name_short_local>
                                              <valid_to>None</valid_to>
                                              <id>285</id>
                                              <sk>13</sk>
                                              <name_short_un>Australia</name_short_un>
                                              <version>2</version>
                                              <fips>AS</fips>
                                              <last_update_date>2012-10-10 18:11:53.841914</last_update_date>
                                              <iso_3>AUS</iso_3>
                                              <iso_2>AU</iso_2>
                                              <iso_3_numeric>36</iso_3_numeric>
                                              <name_long_local>Commonwealth of Australia</name_long_local>
                                              <name_long>Commonwealth of Australia</name_long>
                                          </country>
                                          <notes>89-seat Legislative Assembly - unicameral, 3 year terms\n\nFull list with bios at:\nhttp://en.wikipedia.org/wiki/Category:Members_of_the_Queensland_Legislative_Assembly</notes>
                                      </government>
                                      <redistricting_rules />
                                      <vacancy_rules />
                                      <is_chamber_complete>True</is_chamber_complete>
                                      <contact_email />
                                      <last_update_date>2023-05-12 14:42:55.746603</last_update_date>
                                      <remarks>Single-member constituencies.\n\n</remarks>
                                      <name>Legislative Assembly</name>
                                      <url>https://www.parliament.qld.gov.au/</url>
                                      <type>LOWER</type>
                                      <notes>See https://www.parliament.qld.gov.au/explore/about-us/parliament-overview/queensland-electoral-system for information about switch to 4-year term.</notes>
                                      <has_geographic_representation>False</has_geographic_representation>
                                      <is_appointed>False</is_appointed>
                                      <election_rules>Section 80 of the Queensland Electoral Act 1992 states that an election must be held on a Saturday, and that the election campaign must run for a minimum of 26 or a maximum of 56 days following the issue of the writs including the day the writ drops and polling day. Five to seven days following the issue of the writs, the electoral roll is closed, which gives voters a final opportunity to enrol or to notify the Electoral Commission of Queensland of any changes in their place of residence.\n\nUnder current election rules, the date of the election is at the discretion of the Governor under advice from the Premier, although the leaders of the two largest parties support in principle a change to fixed four-year terms.</election_rules>
                                  </chamber>
                              </chambers>
                          </election_event>
                      </election_events>
                      <count>
                          <from>0</from>
                          <to>1</to>
                          <total>1</total>
                      </count>
                  </results>
                </response>
        '400':
          $ref: '#/components/responses/error'
  /redistricting_event:
    get:
      tags:
        - Events
      summary: Find redistricting events
      description: |
        Cicero tracks redistricting events and makes information about them available through the redistricting_event resource.. The default response ordering is by `begin_date`.

        Cost: 0 credits
      operationId: redistricting_event
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
        - $ref: '#/components/parameters/FormatParam'
        - $ref: '#/components/parameters/CustomerIdParam'
        - $ref: '#/components/parameters/LicenseKeyParam'
        - name: begin_date_before
          in: query
          description: The date a redistricting event was begun. Use `today` for redistricting events that have already started. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
          example: today
        - name: complete_date_after
          in: query
          description: The latest date a redistricting event is completed. Use `tomorrow` for redistricting events that are not yet completed. Date should be specified in a `YYYY-MM-DD` format.
          schema:
            type: string
          example: tomorrow
        - name: max
          in: query
          description: The maximum number of objects to return.
          schema:
            type: integer
        - name: offset
          in: query
          description: Number of items to skip in the response, starting from the beginning of the list.
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: '#/components/schemas/ResponseRedistrictingEvent'
              example:
                response:
                  errors: []
                  messages: []
                  results:
                    redistricting_events:
                    - id: 897
                      sk: 897
                      valid_from: '2022-09-26 20:12:37'
                      valid_to: null
                      last_update_date: '2022-09-26 20:13:21.314779'
                      label: Macon-Bibb County Board of Commissioners Redistricting
                      state: GA
                      remarks: ''
                      begin_date: '2021-11-21'
                      begin_date_is_approximate: false
                      complete_date: '2024-05-31'
                      complete_date_is_approximate: true
                      email:
                      urls: []
                      chambers:
                      - legislature_update_date: null
                        official_count: 10
                        id: 9863
                        term_length: 4 years
                        term_limit: The council is limited to 3 4-year terms\n\nThe mayor is limited
                          to 2 4-year terms
                        inauguration_rules: Fourth Tuesday in December following election
                        name_native_language: ''
                        contact_phone: ''
                        name_formal: Macon-Bibb County Board of Commission
                        election_frequency: 4 years
                        government:
                          name: Macon-Bibb County, Georgia, US
                          type: LOCAL
                          city: Macon
                          state: GA
                          country:
                            status: UN Member State
                            name_short: United States
                            gmi_3: USA
                            valid_from: '0001-01-01 00:00:00'
                            name_short_iso: United States
                            name_short_local: United States
                            valid_to:
                            id: 270
                            sk: 247
                            name_short_un: United States of America
                            version: 1
                            fips: US
                            last_update_date: '2012-10-10 17:29:57.613222'
                            iso_3: USA
                            iso_2: US
                            iso_3_numeric: 840
                            name_long_local: United States of America
                            name_long: United States of America
                          notes: Composed of nine Commissioners and the Mayor, the Macon-Bibb County
                            Board of Commission is the legislative branch of the Macon-Bibb County
                            Government. This body enacts the laws, ordinances, and resolutions for
                            local consolidated government. Commissioners are elected every four years.
                        redistricting_rules: ''
                        vacancy_rules: "(a)\\nIn the event that the office of mayor or any commissioner
                          shall become vacant for any cause whatsoever, the commission or those remaining
                          shall, by resolution, order a special election to fill the balance of the
                          unexpired term of that office.\\n(b)\\nIf, however, the vacancy in any commission
                          seat occurs within 12 months of the expiration of the term of that office,
                          the commission or those remaining may, within 20 days of the occurrence
                          of the vacancy, appoint a successor for the remainder of the term.\\n(c)\\nIf,
                          however, a vacancy in the office of the mayor occurs, the mayor pro tempore
                          shall be acting mayor with all the powers and duties of that office until
                          a successor is elected and qualified, and if the vacancy in the office of
                          the mayor occurs within 12 months of expiration of the term of that office,
                          the mayor pro tempore shall succeed to the office of the mayor for the remainder
                          of the term and the commission seat of such person shall be filled in accordance
                          with this section."
                        is_chamber_complete: true
                        contact_email: ''
                        last_update_date: '2023-07-07 17:08:49.582496'
                        remarks: Mayor + 9 district commissioners
                        name: Board of Commission
                        url: https://www.maconbibb.us/commissioners/
                        type: LOWER
                        notes: ''
                        has_geographic_representation: false
                        is_appointed: false
                        election_rules: Fourth Tuesday of May in presidential election years
                    count:
                      from: 0
                      to: 0
                      total: 1

            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseRedistrictingEvent'
              example: |
                <response>
                  <errors />
                  <messages />
                  <results>
                      <redistricting_events>
                          <redistricting_event>
                              <id>897</id>
                              <sk>897</sk>
                              <valid_from>2022-09-26 20:12:37</valid_from>
                              <valid_to>None</valid_to>
                              <last_update_date>2022-09-26 20:13:21.314779</last_update_date>
                              <label>Macon-Bibb County Board of Commissioners Redistricting</label>
                              <state>GA</state>
                              <remarks />
                              <begin_date>2021-11-21</begin_date>
                              <begin_date_is_approximate>False</begin_date_is_approximate>
                              <complete_date>2024-05-31</complete_date>
                              <complete_date_is_approximate>True</complete_date_is_approximate>
                              <email>None</email>
                              <urls />
                              <chambers>
                                  <chamber>
                                      <legislature_update_date>None</legislature_update_date>
                                      <official_count>10</official_count>
                                      <id>9863</id>
                                      <term_length>4 years</term_length>
                                      <term_limit>The council is limited to 3 4-year terms\n\nThe mayor is limited to 2 4-year terms</term_limit>
                                      <inauguration_rules>Fourth Tuesday in December following election</inauguration_rules>
                                      <name_native_language />
                                      <contact_phone />
                                      <name_formal>Macon-Bibb County Board of Commission</name_formal>
                                      <election_frequency>4 years</election_frequency>
                                      <government>
                                          <name>Macon-Bibb County, Georgia, US</name>
                                          <type>LOCAL</type>
                                          <city>Macon</city>
                                          <state>GA</state>
                                          <country>
                                              <status>UN Member State</status>
                                              <name_short>United States</name_short>
                                              <gmi_3>USA</gmi_3>
                                              <valid_from>0001-01-01 00:00:00</valid_from>
                                              <name_short_iso>United States</name_short_iso>
                                              <name_short_local>United States</name_short_local>
                                              <valid_to>None</valid_to>
                                              <id>270</id>
                                              <sk>247</sk>
                                              <name_short_un>United States of America</name_short_un>
                                              <version>1</version>
                                              <fips>US</fips>
                                              <last_update_date>2012-10-10 17:29:57.613222</last_update_date>
                                              <iso_3>USA</iso_3>
                                              <iso_2>US</iso_2>
                                              <iso_3_numeric>840</iso_3_numeric>
                                              <name_long_local>United States of America</name_long_local>
                                              <name_long>United States of America</name_long>
                                          </country>
                                          <notes>Composed of nine Commissioners and the Mayor, the Macon-Bibb County Board of Commission is the legislative branch of the Macon-Bibb County Government. This body enacts the laws, ordinances, and resolutions for local consolidated government. Commissioners are elected every four years.</notes>
                                      </government>
                                      <redistricting_rules />
                                      <vacancy_rules>(a)\nIn the event that the office of mayor or any commissioner shall become vacant for any cause whatsoever, the commission or those remaining shall, by resolution, order a special election to fill the balance of the unexpired term of that office.\n(b)\nIf, however, the vacancy in any commission seat occurs within 12 months of the expiration of the term of that office, the commission or those remaining may, within 20 days of the occurrence of the vacancy, appoint a successor for the remainder of the term.\n(c)\nIf, however, a vacancy in the office of the mayor occurs, the mayor pro tempore shall be acting mayor with all the powers and duties of that office until a successor is elected and qualified, and if the vacancy in the office of the mayor occurs within 12 months of expiration of the term of that office, the mayor pro tempore shall succeed to the office of the mayor for the remainder of the term and the commission seat of such person shall be filled in accordance with this section.</vacancy_rules>
                                      <is_chamber_complete>True</is_chamber_complete>
                                      <contact_email />
                                      <last_update_date>2023-07-07 17:08:49.582496</last_update_date>
                                      <remarks>Mayor + 9 district commissioners</remarks>
                                      <name>Board of Commission</name>
                                      <url>https://www.maconbibb.us/commissioners/</url>
                                      <type>LOWER</type>
                                      <notes />
                                      <has_geographic_representation>False</has_geographic_representation>
                                      <is_appointed>False</is_appointed>
                                      <election_rules>Fourth Tuesday of May in presidential election years</election_rules>
                                  </chamber>
                              </chambers>
                          </redistricting_event>
                      </redistricting_events>
                      <count>
                          <from>0</from>
                          <to>0</to>
                          <total>1</total>
                      </count>
                  </results>
                </response>
        '400':
          $ref: '#/components/responses/error'
  /coverage:
    get:
      tags:
        - Coverage
      summary: Find coverage
      description: |
        The coverage resource provides a current list of national, region, and local governments for which Cicero maintains elected official data. It includes chamber names for all legislative chambers and a list of the non-legislative districts for which Cicero maintains geographic boundaries.

        The response is organized by country, with states/provinces and non-legislative boundaries listed within each country and localities listed within each state/province. Each place contains a list of its legislative chambers, and each country also contains a list of its non-legislative district types.

        Cost: 0 credits
      operationId: coverage
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
        - $ref: '#/components/parameters/FormatParam'
        - $ref: '#/components/parameters/CustomerIdParam'
        - $ref: '#/components/parameters/LicenseKeyParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: '#/components/schemas/ResponseDefault'
              example:
                response:
                  errors: []
                  messages: []
                  results:
                    coverage:
                    - name: Australia
                      chambers:
                      - House of Representatives
                      - Senate
                      admin1:
                      - name: Tasmania, Australia
                        chambers:
                        - House of Assembly
                        - Legislative Council
                      - name: Western Australia
[...]
