openapi: 3.1.2
info:
  version: ''
  title: Property
  x-seo:
    description: 'Property API by Melissa. Access property records, ownership history, deed data, and valuation information.'
  description: |
    ## Property Overview ##
    The Property Cloud API returns information about a given parcel of property, including: assessed value; last sale price; current mortgage; physical dimensions of land; and square footage. The level of detail may vary according to location.

    The Property service can be used to:
    - Look up U.S. properties by address, county FIPS (Federal Information Processing Standards) and APN (Assessor's Parcel Number), or Melissa Address Key (MAK)
    - Find the owner's name, address, and value of the home
    - Learn about the various properties and characteristics of a property such as size, rooms, number of buildings, amenities, improvements, etc.
    - Search through historical deeds for a home to see past buyers and sales
    - Find other properties owned by a homeowner

    **Documentation**
    - [Property Documentation](https://docs.melissa.com/cloud-api/property/property-index.html)

    **Useful Resources**
    - [GitHub - Property Open API Specification](https://github.com/MelissaData/MelissaCloudAPI-OpenAPI-Specification/blob/main/openapi/apis/property.yaml)
    - [Release notes](https://releasenotes.melissa.com/cloud-api/property/)
    - [Result codes](https://docs.melissa.com/cloud-api/property/result-codes.html)

    **Product Page**

    [https://www.melissa.com/property-data](https://www.melissa.com/property-data)

    **Support Center**

    [https://www.melissa.com/company/product-support](https://www.melissa.com/company/product-support)
security: []
servers:
  - url: https://property.melissadata.net/v4/WEB
tags:
  - name: Lookup Deeds
    description: Use Lookup Deeds endpoint to get information on deeds and/or transactions.
  - name: Lookup Homes by Owner
    description: Use Lookup Homes by Owner endpoint to get information on homes owned by homeowners.
  - name: Lookup Property
    description: Use Lookup Property endpoint to get general information regarding properties.
paths:
  /LookupDeeds:
    get:
      tags:
        - Lookup Deeds
      summary: Lookup deeds for a property
      description: |
        The LookupDeeds endpoint returns an array of deeds and/or transactions from the recorder table when given the Property MAK or the FIPs and APN.

        The service requires at least one of the following input combinations:

        **Set A** - `fips`, `apn`

        **Set B** - `mak`

        **Set C** - `ff`

      operationId: LookupDeedsGET
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
        - name: cols
          in: query
          description: |
            [Columns](https://docs.melissa.com/cloud-api/property/property-reference-guide.html#property-referenceguide-lookupdeeds-columns) - The column names or groups to be output.

            Entering the column name will return the column. Specifying a group name will return all columns in the group.

            Delimit multiple columns with a `,`.

            For example: `ColumnName,ColumnName`.

            Columns:

            `GrpAll` - **Recommended.** Indicates to the Cloud API that all fields should be returned.
            <details>
            <summary> <code>GrpDocInfo</code> - Deed document information </summary>

              - `Book`
              - `InstrumentDate`
              - `InstrumentNumber`
              - `NumberFormatted` *(Deprecated)*
              - `NumberLegacy` *(Deprecated)*
              - `Page`
              - `RecordingDate`
              - `TypeCode`

            </details>
            <details>
            <summary> <code>GrpTxDefInfo</code> - Deed transaction details & info </summary>

              - `ArmsLengthFlag`
              - `ForeclosureAuctionSale`
              - `PartialInterest`
              - `QuitclaimFlag`
              - `TransactionType`
              - `TransferInfoDistressCircumstanceCode` *(Deprecated)*
              - `TransferInfoMultiParcelFlag`
              - `TransferInfoPurchaseTypeCode` *(Deprecated)*

            </details>

            <details>
            <summary> <code>GrpTxAmtInfo</code> - Deed transaction amount info </summary>

              - `TransferAmount`
              - `TransferAmountInfoAccuracy`
              - `TransferTaxCounty` *(Deprecated)*
              - `TransferTaxTotal`

            </details>

            <details>
            <summary> <code>GrpPrimaryGrantor</code> - Primary deed grantor names </summary>

              - `Name1ClassType` *(Deprecated)*
              - `Name1First`
              - `Name1Full`
              - `Name1Last`
              - `Name1LegalType` *(Deprecated)*
              - `Name1Middle`
              - `Name1Suffix`
              - `Name2ClassType` *(Deprecated)*
              - `Name2First`
              - `Name2Full`
              - `Name2Last`
              - `Name2LegalType` *(Deprecated)*
              - `Name2Middle`
              - `Name2Suffix`

            </details>

            <details>
            <summary> <code>GrpSecondaryGrantor</code> <i>(Deprecated)</i> - Secondary deed grantor names </summary>

              - `Name3ClassType` *(Deprecated)*
              - `Name3First` *(Deprecated)*
              - `Name3Full` *(Deprecated)*
              - `Name3Last` *(Deprecated)*
              - `Name3Middle` *(Deprecated)*
              - `Name3Suffix` *(Deprecated)*
              - `Name4ClassType` *(Deprecated)*
              - `Name4First` *(Deprecated)*
              - `Name4Full` *(Deprecated)*
              - `Name4Last` *(Deprecated)*
              - `Name4Middle` *(Deprecated)*
              - `Name4Suffix` *(Deprecated)*

            </details>

            <details>
            <summary> <code>GrpPrimaryGrantee</code> - Primary deed grantee names </summary>

              - `Name1ClassType`
              - `Name1First`
              - `Name1Full`
              - `Name1Last`
              - `Name1LegalType`
              - `Name1Middle`
              - `Name1Suffix`
              - `Name2ClassType`
              - `Name2First`
              - `Name2Full`
              - `Name2Last`
              - `Name2Middle`
              - `Name2Suffix`

            </details>

            <details>
            <summary> <code>GrpSecondaryGrantee</code> <i>(Deprecated)</i> - Secondary deed grantee names </summary>

              - `Name3ClassType` *(Deprecated)*
              - `Name3First` *(Deprecated)*
              - `Name3Full` *(Deprecated)*
              - `Name3Last` *(Deprecated)*
              - `Name3Middle` *(Deprecated)*
              - `Name3Suffix` *(Deprecated)*
              - `Name4ClassType` *(Deprecated)*
              - `Name4First` *(Deprecated)*
              - `Name4Full` *(Deprecated)*
              - `Name4Last` *(Deprecated)*
              - `Name4Middle` *(Deprecated)*
              - `Name4Suffix` *(Deprecated)*

            </details>

            <details>
            <summary> <code>GrpTitleCompInfo</code> - Title company info </summary>

              - `StandardizedCode` *(Deprecated)*
              - `StandardizedName`
              - `TitleCompanyRaw`

            </details>

            <details>
            <summary> <code>GrpMortgage1</code> - First mortgage info </summary>

              - `AdjustableRateIndex`
              - `AdjustableRateRiderFlag`
              - `Amount`
              - `Book`
              - `DocNumberFormatted`
              - `DocNumberLegacy` *(Deprecated)*
              - `FixedStepConvRate` *(Deprecated)*
              - `InstrumentNumber`
              - `InterestChangeFreq`
              - `InterestIndex` *(Deprecated)*
              - `InterestMargin`
              - `InterestOnlyFlag`
              - `InterestOnlyPeriod`
              - `InterestRate`
              - `InterestRateMax`
              - `InterestRateType`
              - `InterestTypeChangeDate`
              - `InterestTypeInitial` *(Deprecated)*
              - `IsLenderSeller`
              - `LenderAddress` *(Deprecated)*
              - `LenderCity` *(Deprecated)*
              - `LenderCode` *(Deprecated)*
              - `LenderFirstName`
              - `LenderFullName`
              - `LenderLastName`
              - `LenderState` *(Deprecated)*
              - `LenderType` *(Deprecated)*
              - `LenderZip` *(Deprecated)*
              - `MaxInterestRateFirstChange` *(Deprecated)*
              - `MinInterestRateFirstChange` *(Deprecated)*
              - `Page`
              - `PrepaymentPenaltyFlag`
              - `PrepaymentTerm` *(Deprecated)*
              - `RecordingDate`
              - `Term` *(Deprecated)*
              - `TermDate`
              - `TermType` *(Deprecated)*
              - `Type`

            </details>

            <details>
            <summary> <code>GrpMortgage2</code> - Second mortgage info </summary>

              - `AdjustableRateIndex`
              - `AdjustableRateRiderFlag`
              - `Amount`
              - `Book`
              - `DocNumberFormatted`
              - `DocNumberLegacy` *(Deprecated)*
              - `FixedStepConvRate` *(Deprecated)*
              - `InstrumentNumber`
              - `InterestChangeFreq`
              - `InterestIndex` *(Deprecated)*
              - `InterestMargin`
              - `InterestOnlyFlag`
              - `InterestOnlyPeriod`
              - `InterestRate`
              - `InterestRateMax`
              - `InterestRateType`
              - `InterestTypeChangeDate`
              - `InterestTypeInitial` *(Deprecated)*
              - `IsLenderSeller`
              - `LenderAddress` *(Deprecated)*
              - `LenderCity` *(Deprecated)*
              - `LenderCode` *(Deprecated)*
              - `LenderFirstName` *(Deprecated)*
              - `LenderFullName`
              - `LenderLastName` *(Deprecated)*
              - `LenderState` *(Deprecated)*
              - `LenderType` *(Deprecated)*
              - `LenderZip` *(Deprecated)*
              - `MaxInterestRateFirstChange` *(Deprecated)*
              - `MinInterestRateFirstChange` *(Deprecated)*
              - `Page`
              - `PrepaymentPenaltyFlag`
              - `PrepaymentTerm` *(Deprecated)*
              - `RecordingDate`
              - `Term` *(Deprecated)*
              - `TermDate`
              - `TermType` *(Deprecated)*
              - `Type`

            </details>

            <details>
            <summary> <code>GrpValuation</code> <i>(Deprecated)</i> - Estimated down payment and LTV values </summary>

              - `EstDownPayment` *(Deprecated)*
              - `EstLTV` *(Deprecated)*

            </details>

          schema:
            type: string
        - $ref: '#/components/parameters/FormatParam'
        - $ref: '#/components/parameters/LicenseKeyParam'
        - name: opt
          in: query
          description: |
            [Options](https://docs.melissa.com/cloud-api/property/property-reference-guide.html#property-referenceguide-lookupdeeds-options) - Specify which options to use. List options in `<OptionName>:<Parameter>` format. Multiple options are delimited with a `,`.

            For example: `OptionName:Parameter,OptionName:Parameter`.
            - `Page:< Integer >` - Specifies which “page” to return. Acceptable values are any integer.
            - `RecordsPerPage:< 0 - 100 >` - Default set to `1`. Sets the records per “page”. Acceptable values are `0` to `100`, inclusive.
          schema:
            type: string
          example: 'page:1'
        - $ref: '#/components/parameters/TransmissionReferenceParam'
        - name: apn
          in: query
          description: Assessor's Parcel Number (APN) for the property.
          schema:
            type: string
        - name: fips
          in: query
          description: Federal Information Processing Standard (FIPS) code for the property.
          schema:
            type: string
        - name: ff
          in: query
          description: Free form address for the property.
          schema:
            type: string
          required: true
          example: 710 Winston Ln Sugar Land TX
        - name: mak
          in: query
          description: Melissa Address Key - A proprietary unique key identifier for an address derived from Address Checking.
          schema:
            type: string
        - name: txid
          in: query
          deprecated: true
          description: Specific transaction ID to specify one deed or transaction.
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/LookupDeedsSuccess'
        '400':
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Lookup Deeds
      summary: Lookup deeds for properties
      operationId: LookupDeedsPOST
      description: |
        Submit a batch request to receive an array of deeds and/or transactions from the recorder table when given the Property MAK or the FIPs and APN.

        The following are the possible minimum input requirements:
        - `FIPS` and `APN`
        - `PropertyMAK`
        - `FreeForm`
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request_LookupDeeds'
            example:
              TransmissionReference: Test
              CustomerId: "{REPLACE-WITH-YOUR-LICENSE-KEY}"
              Columns: ''
              Options: 'page:1'
              PropertyMAK: ''
              FIPS: ''
              APN: ''
              FreeForm: 710 Winston Ln Sugar Land TX
          application/xml:
            schema:
              $ref: '#/components/schemas/Request_LookupDeeds'
            example: |
              <LookupDeedsRequest>
                <TransmissionReference>Test</TransmissionReference>
                <CustomerId>{REPLACE-WITH-YOUR-LICENSE-KEY}</CustomerId>
                <Columns/>
                <Options>page:1</Options>
                <PropertyMAK/>
                <FIPS/>
                <APN/>
                <FreeForm>710 Winston Ln Sugar Land TX</FreeForm>
              </LookupDeedsRequest>
      responses:
        '200':
          $ref: '#/components/responses/LookupDeedsSuccess'
        '400':
          $ref: '#/components/responses/Error'

  /LookupHomesByOwner:
    get:
      tags:
        - Lookup Homes by Owner
      summary: Lookup homes owned by a homeowner
      description: |
        The LookupHomesByOwner endpoint returns an array of homes owned by a homeowner based on their address (MAK).

        The service requires at least one of the following input combinations:

        **Set A** - `mak`

        **Set B** - `ff`

      operationId: LookupHomesByOwnerGET
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
        - $ref: '#/components/parameters/FormatParam'
        - $ref: '#/components/parameters/LicenseKeyParam'
        - $ref: '#/components/parameters/TransmissionReferenceParam'
        - name: ff
          in: query
          description: The free form address.
          schema:
            type: string
        - name: mak
          in: query
          description: A proprietary unique key identifier for an address.
          schema:
            type: string
          example: '9005381555'
          required: true
      responses:
        '200':
          $ref: '#/components/responses/LookupHomesByOwnerSuccess'
        '400':
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Lookup Homes by Owner
      summary: Lookup homes owned by homeowners
      operationId: LookupHomesByOwnerPOST
      description: |
        Submit a batch request to receive an array of homes owned by a homeowner based on their address (MAK).

        The following are the possible minimum input requirements:
        - `OwnerMAK`
        - `FreeForm`
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request_LookupHomesByOwner'
            example:
              TransmissionReference: Test
              CustomerId: '{REPLACE-WITH-YOUR-LICENSE-KEY}'
              OwnerMAK: '9005381555'
              FreeForm: ''
          application/xml:
            schema:
              $ref: '#/components/schemas/Request_LookupHomesByOwner'
            example: |
              <LookupHomesByOwnerRequest>
                <TransmissionReference>Test</TransmissionReference>
                <CustomerId>{REPLACE-WITH-YOUR-LICENSE-KEY}</CustomerId>
                <OwnerMAK>9005381555</OwnerMAK>
                <FreeForm/>
              </LookupHomesByOwnerRequest>
      responses:
        '200':
          $ref: '#/components/responses/LookupHomesByOwnerSuccess'
        '400':
          $ref: '#/components/responses/Error'
  /LookupProperty:
    get:
      tags:
        - Lookup Property
      summary: Lookup information on a property
      description: |
        The LookupProperty endpoint returns general information regarding a property.

        The service requires at least one of the following input combinations:

        **Set A** - `addresskey`

        **Set B** - `fips`, `apn`

        **Set C** - `fips`, `account`

        **Set D** - `mak`

        **Set E** - `ff`

        **Set F** - `a1`, `postal`

        **Set G** - `a1`, `city`, `state`

      operationId: LookupPropertyGET
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
        - name: cols
          in: query
          description: |
            [Columns](https://docs.melissa.com/cloud-api/property/property-reference-guide.html#property-referenceguide-lookupproperty-columns) - The column names or groups to be output.

            Entering the column name will return the column. Specifying a group name will return all columns in the group.

            Delimit multiple columns with a `,`.

            For example: `ColumnName,ColumnName`.

            Columns:

            `GrpAll` - **Recommended.** Indicates to the Cloud API that all fields should be returned.
            <details>
            <summary> <code>GrpParcel</code> - Parcel info </summary>

              - `AccountNumber`
              - `AlternateAPN`
              - `APNYearChange` *(Deprecated)*
              - `County`
              - `FIPSCode`
              - `FormattedAPN`
              - `MapBook`
              - `MapPage`
              - `MinorCivilDivisionName`
              - `PreviousAPN`
              - `UnformattedAPN`
              - `YearAdded` *(Deprecated)*

            </details>
            <details>
            <summary> <code>GrpLegal</code> - Legal description info </summary>

              - `Block1`
              - `Block2` *(Deprecated)*
              - `LegalDescription`
              - `LotNumber1`
              - `LotNumber2`
              - `LotNumber3`
              - `Phase`
              - `Quarter`
              - `QuarterQuarter`
              - `Range`
              - `Section`
              - `Subdivision`
              - `Township`
              - `TractNumber`
              - `Unit`

            </details>
            <details>
            <summary> <code>GrpPropertyAddress</code> - Address of the property </summary>

              - `Address`
              - `AddressKey`
              - `BaseMAK`
              - `CarrierRoute`
              - `City`
              - `Latitude`
              - `Longitude`
              - `MAK`
              - `PrivacyInfo`
              - `State`
              - `Zip`

            </details>
            <details>
            <summary> <code>GrpParsedPropertyAddress</code> - Parsed elements of the property address </summary>

              - `PostDirectional`
              - `PreDirectional`
              - `Range`
              - `StreetName`
              - `Suffix`
              - `SuiteName`
              - `SuiteRange`

            </details>
            <details>
            <summary> <code>GrpPrimaryOwner</code> - Primary owner info </summary>

              - `CompanyFlag`
              - `MelissaIdentityKey1`
              - `MelissaIdentityKey2`
              - `Name1First`
              - `Name1Full`
              - `Name1Last`
              - `Name1Middle`
              - `Name1Suffix`
              - `Name2First`
              - `Name2Full`
              - `Name2Last`
              - `Name2Middle`
              - `Name2Suffix`
              - `TrustFlag`
              - `Type` *(Deprecated)*
              - `VestingType`

            </details>
            <details>
            <summary> <code>GrpSecondaryOwner</code> <i>(Deprecated)</i> - Secondary owner info </summary>

              - `Name3First` *(Deprecated)*
              - `Name3Full` *(Deprecated)*
              - `Name3Last` *(Deprecated)*
              - `Name3Middle` *(Deprecated)*
              - `Name3Suffix` *(Deprecated)*
              - `Name4First` *(Deprecated)*
              - `Name4Full` *(Deprecated)*
              - `Name4Last` *(Deprecated)*
              - `Name4Middle` *(Deprecated)*
              - `Name4Suffix` *(Deprecated)*
              - `Type` *(Deprecated)*

            </details>
            <details>
            <summary> <code>GrpOwnerAddress</code> - Owner's address info </summary>

              - `Address`
              - `BaseMAK`
              - `CarrierRoute`
              - `City`
              - `FormatInfo`
              - `MAK`
              - `PrivacyInfo`
              - `State`
              - `Zip`

            </details>
            <details>
            <summary> <code>GrpLastDeedOwnerInfo</code> - Owner info listed on latest deed for the property </summary>

              - `Name1First`
              - `Name1Full`
              - `Name1Last`
              - `Name1Middle`
              - `Name1Suffix`
              - `Name2First`
              - `Name2Full`
              - `Name2Last`
              - `Name2Middle`
              - `Name2Suffix`
              - `Name3First` *(Deprecated)*
              - `Name3Full` *(Deprecated)*
              - `Name3Last` *(Deprecated)*
              - `Name3Middle` *(Deprecated)*
              - `Name3Suffix` *(Deprecated)*
              - `Name4First` *(Deprecated)*
              - `Name4Full` *(Deprecated)*
              - `Name4Last` *(Deprecated)*
              - `Name4Middle` *(Deprecated)*
              - `Name4Suffix` *(Deprecated)*

            </details>
            <details>
            <summary> <code>GrpCurrentDeed</code> - Other deed info listed on the latest deed for the property </summary>

              - `LenderCode` *(Deprecated)*
              - `LenderName`
              - `MortgageAmount`
              - `MortgageDate`
              - `MortgageDueDate`
              - `MortgageLoanTypeCode`
              - `MortgageTerm`
              - `MortgageTermCode`
              - `SecondMortgageAmount`
              - `SecondMortgageLoanTypeCode`

            </details>
            <details>
            <summary> <code>GrpTax</code> - Property tax info </summary>

              - `AssessedImprovementsPerc`
              - `AssessedValueImprovements`
              - `AssessedValueLand`
              - `AssessedValueTotal`
              - `AssrLastUpdated`
              - `LastTaxRollUpdate`
              - `MarketImprovementsPerc`
              - `MarketValueImprovements`
              - `MarketValueLand`
              - `MarketValueTotal`
              - `MarketValueYear`
              - `PreviousAssessedValue` *(Deprecated)*
              - `PropertyUseGroup`
              - `PropertyUseMuni`
              - `PropertyUseStandardized`
              - `TaxBilledAmount`
              - `TaxDelinquentYear`
              - `TaxExemptionAdditional`
              - `TaxExemptionDisabled`
              - `TaxExemptionHomeowner`
              - `TaxExemptionSenior`
              - `TaxExemptionVeteran`
              - `TaxExemptionWidow`
              - `TaxFiscalYear`
              - `TaxRateArea`
              - `YearAssessed`
              - `YearBuilt`
              - `YearBuiltEffective`
              - `ZonedCodeLocal`

            </details>
            <details>
            <summary> <code>GrpPropertyUseInfo</code> - Property usage info </summary>

              - `PropertyUseGroup`
              - `PropertyUseMuni`
              - `PropertyUseStandardized`
              - `YearBuilt`
              - `YearBuiltEffective`
              - `ZonedCodeLocal`

            </details>
            <details>
            <summary> <code>GrpSaleInfo</code> - Property sale info </summary>

              - `AssessorLastSaleAmount`
              - `AssessorLastSaleDate`
              - `AssessorPriorSaleAmount`
              - `AssessorPriorSaleDate`
              - `DeedLastDocumentNumber`
              - `DeedLastSaleDate`
              - `DeedLastSaleDocumentBook`
              - `DeedLastSaleDocumentPage`
              - `DeedLastSalePrice`
              - `DeedLastSaleTxID` *(Deprecated)*
              - `LastOwnershipTransferDate`
              - `LastOwnershipTransferDocumentNumber`
              - `LastOwnershipTransferTxID` *(Deprecated)*

            </details>
            <details>
            <summary> <code>GrpPropertySize</code> - Property size info </summary>

              - `Area1stFloor`
              - `Area2ndFloor`
              - `AreaBuilding`
              - `AreaBuildingDefinitionCode`
              - `AreaGross`
              - `AreaLotAcres`
              - `AreaLotSF`
              - `AreaUpperFloors`
              - `AtticArea`
              - `AtticFlag`
              - `BasementArea`
              - `BasementAreaFinished`
              - `BasementAreaUnfinished`
              - `LotDepth`
              - `LotWidth`
              - `ParkingCarport`
              - `ParkingCarportArea`
              - `ParkingGarage`
              - `ParkingGarageArea`

            </details>
            <details>
            <summary> <code>GrpPool</code> - Pool info </summary>

              - `Pool`
              - `PoolArea`
              - `SaunaFlag`

            </details>
            <details>
            <summary> <code>GrpIntStructInfo</code> - Interior structural info </summary>

              - `Construction`
              - `ConstructionFireResistanceClass`
              - `FlooringMaterialPrimary`
              - `Foundation`
              - `InteriorStructure`
              - `PlumbingFixturesCount`
              - `SafetyFireSprinklersFlag`

            </details>
            <details>
            <summary> <code>GrpIntRoomInfo</code> - Interior rooms info </summary>

              - `BathCount`
              - `BathPartialCount`
              - `BedroomsCount`
              - `BonusRoomFlag`
              - `BreakfastNookFlag`
              - `CellarFlag`
              - `CellarWineFlag` *(Deprecated)*
              - `ExcerciseFlag`
              - `FamilyCode`
              - `GameFlag`
              - `GreatFlag`
              - `HobbyFlag`
              - `LaundryFlag`
              - `MediaFlag`
              - `MudFlag`
              - `OfficeArea`
              - `OfficeFlag`
              - `RoomsCount`
              - `SafeRoomFlag`
              - `SittingFlag`
              - `StoriesCount`
              - `StormFlag`
              - `StudyFlag`
              - `SunroomFlag`
              - `UnitsCount`
              - `UtilityArea`
              - `UtilityCode`

            </details>
            <details>
            <summary> <code>GrpIntAmenities</code> - Interior amenities info </summary>

              - `AccessabilityElevatorFlag`
              - `AccessabilityHandicapFlag`
              - `CentralVacuumFlag`
              - `EscalatorFlag`
              - `Fireplace`
              - `FireplaceCount`
              - `IntercomFlag`
              - `SecurityAlarmFlag`
              - `SoundSystemFlag`
              - `WetBarFlag`

            </details>
            <details>
            <summary> <code>GrpExtStructInfo</code> - Exterior structural info </summary>

              - `Exterior1Code`
              - `OverheadDoorFlag`
              - `RoofConstruction`
              - `RoofMaterial`
              - `StormShutterFlag`
              - `StructureStyle`

            </details>
            <details>
            <summary> <code>GrpExtAmenities</code> - Exterior amenities info </summary>

              - `BalconyArea`
              - `BreezewayFlag`
              - `DeckArea`
              - `DeckFlag`
              - `FeatureBalconyFlag`
              - `PatioArea`
              - `PorchArea`
              - `PorchCode`
              - `ViewDescription`

            </details>
            <details>
            <summary> <code>GrpExtBuildings</code> - Exterior building info </summary>

              - `BathHouseArea`
              - `BathHouseFlag`
              - `BoatAccessFlag` *(Deprecated)*
              - `BoatHouseArea`
              - `BoatHouseFlag`
              - `BuildingsCount`
              - `CabinArea`
              - `CabinFlag`
              - `CanopyArea`
              - `CanopyFlag`
              - `GazeboArea`
              - `GazeboFlag`
              - `GranaryArea`
              - `GranaryFlag`
              - `GreenHouseArea`
              - `GreenHouseFlag`
              - `GuestHouseArea`
              - `GuestHouseFlag`
              - `KennelArea`
              - `KennelFlag`
              - `LeanToArea`
              - `LeanToFlag`
              - `LoadingPlatformArea`
              - `LoadingPlatformFlag`
              - `MilkHouseArea`
              - `MilkHouseFlag`
              - `OutdoorKitchenFireplaceFlag`
              - `PoleStructureArea`
              - `PoleStructureFlag`
              - `PoolHouseArea`
              - `PoolHouseFlag`
              - `PoultryHouseArea`
              - `PoultryHouseFlag`
              - `QuonsetArea`
              - `QuonsetFlag`
              - `ShedArea`
              - `ShedCode`
              - `SiloArea`
              - `SiloFlag`
              - `StableArea`
              - `StableFlag`
              - `StorageBuildingArea`
              - `StorageBuildingFlag`
              - `UtilityBuildingArea`
              - `UtilityBuildingFlag`

            </details>
            <details>
            <summary> <code>GrpUtilities</code> - Utility info </summary>

              - `HVACCoolingDetail`
              - `HVACHeatingDetail`
              - `HVACHeatingFuel`
              - `MobileHomeHookupFlag`
              - `SewageUsage`
              - `WaterSource`

            </details>
            <details>
            <summary> <code>GrpParking</code> - Parking info </summary>

              - `DrivewayArea`
              - `DrivewayMaterial`
              - `ParkingSpaceCount`
              - `RVParkingFlag`

            </details>
            <details>
            <summary> <code>GrpYardGardenInfo</code> - Yard & garden info </summary>

              - `ArborPergolaFlag`
              - `ArenaFlag`
              - `BoatLiftFlag`
              - `CourtyardArea`
              - `CourtyardFlag`
              - `FenceArea`
              - `FenceCode`
              - `GolfCourseGreenFlag`
              - `PondFlag`
              - `SportsCourtFlag`
              - `SprinklersFlag`
              - `TennisCourtFlag`
              - `TopographyCode`
              - `WaterFeatureFlag`

            </details>
            <details>
            <summary> <code>GrpEstimatedValue</code> - Calculated estimated value of the property </summary>

              - `ConfidenceScore`
              - `EstimatedMaxValue`
              - `EstimatedMinValue`
              - `EstimatedValue`
              - `ValuationDate`

            </details>
            <details>
            <summary> <code>GrpShape</code> - Parcel geometry shape in well known text format </summary>

              - `WellKnownText`

            </details>
          schema:
            type: string
        - $ref: '#/components/parameters/LicenseKeyParam'
        - $ref: '#/components/parameters/FormatParam'
        - name: opt
          in: query
          description: |
            [Options](https://docs.melissa.com/cloud-api/property/property-reference-guide.html#property-referenceguide-lookupproperty-options) - Specify which options to use. List options in `<OptionName>:<Parameter>` format. Multiple options are delimited with a `,`.

            For example: `OptionName:Parameter,OptionName:Parameter`.
            - `Desc:< off | on >` - Default set to `off`. This options allows Property to return back human readable descriptions and meanings instead of codes.
            - `LatestMortgage:< Off | On >` - Default set to `Off`. This options allows Property to have the CurrentDeed structure represent the latest mortgage, if available.
          schema:
            type: string
        - $ref: '#/components/parameters/TransmissionReferenceParam'
        - name: a1
          in: query
          description: |
            Input field for address line 1. This should contain the delivery address information (house number, street, building, suite, etc.) but should not contain locality information (city, state, postal code, etc.) which have their own inputs.
          schema:
            type: string
          required: true
          example: 710 Winston Ln
        - name: a2
          in: query
          description: |
            Input field for address line 2. This can be a continuation of AddressLine1 (ex: suite) or another address.
          schema:
            type: string
        - name: addresskey
          in: query
          description: An 11-digit key of the property. Based on the Zip5, Plus4 and two digit delivery code.
          schema:
            type: string
            minLength: 11
            maxLength: 11
        - name: apn
          in: query
          description: Assessor's Parcel Number (APN) for the property.
          schema:
            type: string
        - name: city
          in: query
          description: The city for the property.
          schema:
            type: string
          example: Sugar Land
          required: true
        - name: ctry
          in: query
          description: The country for the property. Currently only properties in the US can be looked up.
          schema:
            type: string
        - name: ff
          in: query
          description: Free form address for the property.
          schema:
            type: string
        - name: fips
          in: query
          description: Federal Information Processing Standard (FIPS) code for the property.
          schema:
            type: string
        - name: mak
          in: query
          description: A proprietary unique key identifier for an address derived from Address Checking.
          schema:
            type: string
        - name: postal
          in: query
          description: The postal code for the property.
          schema:
            type: string
        - name: state
          in: query
          description: The US state for the property.
          schema:
            type: string
          required: true
          example: TX
      responses:
        '200':
          $ref: '#/components/responses/LookupPropertySuccess'
        '400':
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Lookup Property
      summary: Lookup information on properties
      operationId: LookupPropertyPOST
      description: |
        Submit a batch request to receive general information regarding a property.

        The following are the possible minimum input requirements:
        - `AddressKey`
        - `FIPS` and `APN`
        - `FIPS` and `Account`
        - `MAK`
        - `FreeForm`
        - `AddressLine1` with either `PostalCode`, or `City` and `State`
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptParam'
        - $ref: '#/components/parameters/HeaderContentTypeParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request_LookupProperty'
            example:
              TransmissionReference: LookupProperty POST Test
              CustomerId: "{REPLACE-WITH-YOUR-LICENSE-KEY}"
              TotalRecords: '1'
              Columns: ''
              Records:
              - RecordID: '1'
                AddressLine1: 710 Winston Ln
                AddressLine2: ''
                City: Sugar Land
                State: TX
                PostalCode: ''
                MAK: ''
                FIPS: ''
                APN: ''
                FreeForm: ''
          application/xml:
            schema:
              $ref: '#/components/schemas/Request_LookupProperty'
            example: |
              <LookupPropertyRequest>
                <TransmissionReference>Test</TransmissionReference>
                <CustomerId>{REPLACE-WITH-YOUR-LICENSE-KEY}</CustomerId>
                <TotalRecords>1</TotalRecords>
                <Columns/>
                <Records>
                  <Record>
                    <RecordID>1</RecordID>
                    <AddressLine1>710 Winston Ln</AddressLine1>
                    <AddressLine2/>
                    <City>Sugar Land</City>
                    <State>TX</State>
                    <PostalCode/>
                    <MAK/>
                    <FIPS/>
                    <APN/>
                    <FreeForm/>
                  </Record>
                </Records>
              </LookupPropertyRequest>
      responses:
        '200':
          $ref: '#/components/responses/LookupPropertySuccess'
        '400':
          $ref: '#/components/responses/Error'
components:
  parameters:
    HeaderAcceptParam:
      in: header
      name: Accept
      description: Format of the response.
      required: true
      schema:
        type: string
        enum:
          - 'application/json'
          - 'application/xml'
          - '*/*'
      example: '*/*'
    HeaderContentTypeParam:
      in: header
      name: Content-Type
      description: Format of the request.
      required: true
      schema:
        type: string
        enum: [application/json, application/xml]
    TransmissionReferenceParam:
      name: t
      in: query
      example: "Test"
      description: Transmission Reference - This is a string value that serves as a unique identifier for this set of records. It is returned as sent.
      schema:
        type: string
    LicenseKeyParam:
      name: id
      in: query
      example: "{REPLACE-WITH-YOUR-LICENSE-KEY}"
      description: Required. The [License Key](https://docs.melissa.com/melissa/license/license-information.html) issued by Melissa.
      required: true
      schema:
        format: password
    FormatParam:
      name: format
      in: query
      example: "JSON"
      description: Desired format of the response.
      schema:
        type: string
        enum: [json, xml]
  schemas:
    Request_LookupDeeds:
      type: object
      xml:
        name: LookupDeedsRequest
      required:
        - CustomerId
      properties:
        Columns:
          type: string
          description: |
            [Columns](https://docs.melissa.com/cloud-api/property/property-reference-guide.html#property-referenceguide-lookupdeeds-columns) - The column names or groups to be output.

            Entering the column name will return the column. Specifying a group name will return all columns in the group.

            Delimit multiple columns with a `,`.

            For example: `ColumnName,ColumnName`.

            Columns:

            `GrpAll` - **Recommended.** Indicates to the Cloud API that all fields should be returned.
            <details>
            <summary> <code>GrpDocInfo</code> - Deed document information </summary>

              - `Book`
              - `InstrumentDate`
              - `InstrumentNumber`
              - `NumberFormatted` *(Deprecated)*
              - `NumberLegacy` *(Deprecated)*
              - `Page`
              - `RecordingDate`
              - `TypeCode`

            </details>
            <details>
            <summary> <code>GrpTxDefInfo</code> - Deed transaction details & info </summary>

              - `ArmsLengthFlag`
              - `ForeclosureAuctionSale`
              - `PartialInterest`
              - `QuitclaimFlag`
              - `TransactionType`
              - `TransferInfoDistressCircumstanceCode`*(Deprecated)*
              - `TransferInfoMultiParcelFlag`
              - `TransferInfoPurchaseTypeCode` *(Deprecated)*

            </details>

            <details>
            <summary> <code>GrpTxAmtInfo</code> - Deed transaction amount info </summary>

              - `TransferAmount`
              - `TransferAmountInfoAccuracy`
              - `TransferTaxCounty` *(Deprecated)*
              - `TransferTaxTotal`

            </details>

            <details>
            <summary> <code>GrpPrimaryGrantor</code> - Primary deed grantor names </summary>

              - `Name1ClassType` *(Deprecated)*
              - `Name1First`
              - `Name1Full`
              - `Name1Last`
              - `Name1LegalType` *(Deprecated)*
              - `Name1Middle`
              - `Name1Suffix`
              - `Name2ClassType` *(Deprecated)*
              - `Name2First`
              - `Name2Full`
              - `Name2Last`
              - `Name2LegalType` *(Deprecated)*
              - `Name2Middle`
              - `Name2Suffix`

            </details>

            <details>
            <summary> <code>GrpSecondaryGrantor</code> <i>(Deprecated)</i> - Secondary deed grantor names </summary>

              - `Name3ClassType` *(Deprecated)*
              - `Name3First` *(Deprecated)*
              - `Name3Full` *(Deprecated)*
              - `Name3Last` *(Deprecated)*
              - `Name3Middle` *(Deprecated)*
              - `Name3Suffix` *(Deprecated)*
              - `Name4ClassType` *(Deprecated)*
              - `Name4First` *(Deprecated)*
              - `Name4Full` *(Deprecated)*
              - `Name4Last` *(Deprecated)*
              - `Name4Middle` *(Deprecated)*
              - `Name4Suffix` *(Deprecated)*

            </details>

            <details>
            <summary> <code>GrpPrimaryGrantee</code> - Primary deed grantee names </summary>

              - `Name1ClassType`
              - `Name1First`
              - `Name1Full`
              - `Name1Last`
              - `Name1LegalType`
              - `Name1Middle`
              - `Name1Suffix`
              - `Name2ClassType`
              - `Name2First`
              - `Name2Full`
              - `Name2Last`
              - `Name2Middle`
              - `Name2Suffix`

            </details>

            <details>
            <summary> <code>GrpSecondaryGrantee</code> <i>(Deprecated)</i> - Secondary deed grantee names </summary>

              - `Name3ClassType` *(Deprecated)*
              - `Name3First` *(Deprecated)*
              - `Name3Full` *(Deprecated)*
              - `Name3Last` *(Deprecated)*
              - `Name3Middle` *(Deprecated)*
              - `Name3Suffix` *(Deprecated)*
              - `Name4ClassType` *(Deprecated)*
              - `Name4First` *(Deprecated)*
              - `Name4Full` *(Deprecated)*
              - `Name4Last` *(Deprecated)*
              - `Name4Middle` *(Deprecated)*
              - `Name4Suffix` *(Deprecated)*

            </details>

            <details>
            <summary> <code>GrpTitleCompInfo</code> - Title company info </summary>

              - `StandardizedCode` *(Deprecated)*
              - `StandardizedName`
              - `TitleCompanyRaw`

            </details>

            <details>
            <summary> <code>GrpMortgage1</code> - First mortgage info </summary>

              - `AdjustableRateIndex`
              - `AdjustableRateRiderFlag`
              - `Amount`
              - `Book`
              - `DocNumberFormatted`
              - `DocNumberLegacy` *(Deprecated)*
              - `FixedStepConvRate` *(Deprecated)*
              - `InstrumentNumber`
              - `InterestChangeFreq`
              - `InterestIndex` *(Deprecated)*
              - `InterestMargin`
              - `InterestOnlyFlag`
              - `InterestOnlyPeriod`
              - `InterestRate`
              - `InterestRateMax`
              - `InterestRateType`
              - `InterestTypeChangeDate`
              - `InterestTypeInitial` *(Deprecated)*
              - `IsLenderSeller`
              - `LenderAddress` *(Deprecated)*
              - `LenderCity` *(Deprecated)*
              - `LenderCode` *(Deprecated)*
              - `LenderFirstName`
              - `LenderFullName`
              - `LenderLastName`
              - `LenderState` *(Deprecated)*
              - `LenderType` *(Deprecated)*
              - `LenderZip` *(Deprecated)*
              - `MaxInterestRateFirstChange` *(Deprecated)*
              - `MinInterestRateFirstChange` *(Deprecated)*
              - `Page`
              - `PrepaymentPenaltyFlag`
              - `PrepaymentTerm` *(Deprecated)*
              - `RecordingDate`
              - `Term` *(Deprecated)*
              - `TermDate`
              - `TermType` *(Deprecated)*
              - `Type`

            </details>

            <details>
            <summary> <code>GrpMortgage2</code> - Second mortgage info </summary>

              - `AdjustableRateIndex`
              - `AdjustableRateRiderFlag`
              - `Amount`
              - `Book`
              - `DocNumberFormatted`
              - `DocNumberLegacy` *(Deprecated)*
              - `FixedStepConvRate` *(Deprecated)*
              - `InstrumentNumber`
              - `InterestChangeFreq`
              - `InterestIndex` *(Deprecated)*
              - `InterestMargin`
              - `InterestOnlyFlag`
              - `InterestOnlyPeriod`
              - `InterestRate`
              - `InterestRateMax`
              - `InterestRateType`
              - `InterestTypeChangeDate`
              - `InterestTypeInitial` *(Deprecated)*
              - `IsLenderSeller`
              - `LenderAddress` *(Deprecated)*
              - `LenderCity` *(Deprecated)*
              - `LenderCode` *(Deprecated)*
              - `LenderFirstName` *(Deprecated)*
              - `LenderFullName`
              - `LenderLastName` *(Deprecated)*
              - `LenderState` *(Deprecated)*
              - `LenderType` *(Deprecated)*
              - `LenderZip` *(Deprecated)*
              - `MaxInterestRateFirstChange` *(Deprecated)*
              - `MinInterestRateFirstChange` *(Deprecated)*
              - `Page`
              - `PrepaymentPenaltyFlag`
              - `PrepaymentTerm` *(Deprecated)*
              - `RecordingDate`
              - `Term` *(Deprecated)*
              - `TermDate`
              - `TermType` *(Deprecated)*
              - `Type`

            </details>

            <details>
            <summary> <code>GrpValuation</code> <i>(Deprecated)</i> - Estimated down payment and LTV values </summary>

              - `EstDownPayment` *(Deprecated)*
              - `EstLTV` *(Deprecated)*

            </details>
        CustomerId:
          type: string
          description: Required. The [License Key](https://docs.melissa.com/melissa/license/license-information.html) issued by Melissa.
        Options:
          type: string
          description: |
            [Options](https://docs.melissa.com/cloud-api/property/property-reference-guide.html#property-referenceguide-lookupdeeds-options) - Specify which options to use. List options in `<OptionName>:<Parameter>` format. Multiple options are delimited with a `,`.

            For example: `OptionName:Parameter,OptionName:Parameter`.
            - `Page:< Integer >` - Specifies which “page” to return. Acceptable values are any integer.
            - `RecordsPerPage:< 0 - 100 >` - Default set to `1`. Sets the records per “page”. Acceptable values are `0` to `100`, inclusive.
        TransmissionReference:
          type: string
          description: This is a string value that serves as a unique identifier for this set of records. It is returned as sent.
        APN:
          type: string
          description: Assessor's Parcel Number (APN) for the property.
        FIPS:
          type: string
          description: Federal Information Processing Standard (FIPS) code for the property.
        FreeForm:
          type: string
          description: Free form address for the property.
        PropertyMAK:
          type: string
          description: A proprietary unique key identifier for an address derived from Address Checking.
        TransactionID:
          type: string
          description: Specific transaction ID to specify one deed or transaction.
          deprecated: true
    Request_LookupHomesByOwner:
      type: object
      xml:
        name: LookupHomesByOwnerRequest
      required:
        - CustomerId
      properties:
        CustomerId:
          type: string
          description: Required. The [License Key](https://docs.melissa.com/melissa/license/license-information.html) issued by Melissa.
        TransmissionReference:
          type: string
          description: This is a string value that serves as a unique identifier for this set of records. It is returned as sent.
        FreeForm:
          type: string
          description: Free form address for the property.
        OwnerMAK:
          type: string
          description: A proprietary unique key identifier for an address derived from Address Checking.
    Response_LookupDeeds:
      type: object
      xml:
        name: LookupDeedsResponse
      properties:
        Version:
          type: string
          description: The current service version number.
        TransmissionReference:
          type: string
          description: Serves as a unique request identifier.
        Results:
          type: string
          description: Lists error codes from any errors caused by the most recent request as a whole. For more information, see [Property Result Codes](https://docs.melissa.com/cloud-api/property/result-codes.html).
        TotalRecords:
          type: integer
          description: Total number of records.
        TransactionID:
          type: string
          deprecated: true
          description: A unique string identifier for this record. A unique transaction ID is generated for every record handled.
        Records:
          type: array
          xml:
            name: Records
            wrapped: true
          items:
            $ref: '#/components/schemas/LookupDeeds_Records'
    LookupDeeds_Records:
      type: object
      xml:
        name: Record
      properties:
        DocInfo:
          $ref: '#/components/schemas/LookupDeeds_DocInfo'
        TxDefInfo:
          $ref: '#/components/schemas/LookupDeeds_TxDefInfo'
        TxAmtInfo:
          $ref: '#/components/schemas/LookupDeeds_TxAmtInfo'
        PrimaryGrantor:
          $ref: '#/components/schemas/LookupDeeds_PrimaryGrantor'
        SecondaryGrantor:
          $ref: '#/components/schemas/LookupDeeds_SecondaryGrantor'
        PrimaryGrantee:
          $ref: '#/components/schemas/LookupDeeds_PrimaryGrantee'
        SecondaryGrantee:
          $ref: '#/components/schemas/LookupDeeds_SecondaryGrantee'
        TitleCompInfo:
          $ref: '#/components/schemas/LookupDeeds_TitleCompInfo'
        Mortgage1:
          $ref: '#/components/schemas/LookupDeeds_Mortgage1'
        Mortgage2:
          $ref: '#/components/schemas/LookupDeeds_Mortgage2'
        Valuation:
          $ref: '#/components/schemas/LookupDeeds_Valuation'
    LookupDeeds_DocInfo:
      type: object
      properties:
        Book:
          type: string
          description: The document number book. This can contain either the recorder document book or the legal description book.
        InstrumentDate:
          type: string
          description: "The execution date with the format: `YYYY-MM-DD`. This pre-dates the RecordingDate and may be the notary date."
        InstrumentNumber:
          type: string
          description: If the document is indexed by a recorder's reference number, this will contain that number. Usually the year will not be added to this field unless there is a regional requirement.
        NumberFormatted:
          type: string
          description: The document number based on the document book, page, or instrument number.
          deprecated: true
        NumberLegacy:
          type: string
          description: The document number from a previous platform, if different than `NumberFormatted`.
          deprecated: true
        Page:
          type: string
          description: The document number page. This can contain either the recorder document page or the legal description page.
        RecordingDate:
          type: string
          description: "The official filing date with the format: `YYYY-MM-DD`. This is normally located on the document."
        TypeCode:
          type: string
          description: The type of document. E.g. grand deed, quit claim, etc.
    LookupDeeds_TxDefInfo:
      type: object
      properties:
        ArmsLengthFlag:
          type: string
          description: Specifies the transfer was between two unrelated parties.
        ForeclosureAuctionSale:
          type: string
          description: Specifies if the transaction was due to a foreclosure auction.
        PartialInterest:
          type: string
          description: Specifies what percentage of the legal ownership was transferred.
        QuitclaimFlag:
          type: string
          description: Specifies if the transaction is a Quit claim.
        TransactionType:
          type: string
          description: The transaction type.
        TransferInfoDistressCircumstanceCode:
          type: string
          deprecated: true
          description: A distress scenario code.
        TransferInfoMultiParcelFlag:
          type: string
          description: Specifies if the transaction has multiple parcels.
        TransferInfoPurchaseTypeCode:
          type: string
          description: The type of resale transaction. E.g. construction, subdivision, etc.
          deprecated: true
    LookupDeeds_TxAmtInfo:
      type: object
      properties:
        TransferAmount:
          type: string
          description: The amount, in dollars, of consideration in an ownership changing transaction.
        TransferAmountInfoAccuracy:
          type: string
          description: The type of transaction.
        TransferTaxCounty:
          type: string
          deprecated: true
          description: This amount is a rate levied by the state per $1,000 of consideration paid in the transaction. Often this is a transfer tax stamp on the document. This may be the full sales price or only the equity transferred with any new financing, depending on the state.
        TransferTaxTotal:
          type: string
          description: The total of the city and county transfer tax amounts. Unique to some regions.
    LookupDeeds_PrimaryGrantor:
      type: object
      properties:
        Name1ClassType:
          type: string
          deprecated: true
          description: Describes the class of the primary seller based off of the name and vesting. E.g. individual, trust, company.
        Name1First:
          type: string
          description: The first name of the primary seller.
        Name1Full:
          type: string
          description: The full name of the primary seller.
        Name1Last:
          type: string
          description: The last name of the primary seller.
        Name1LegalType:
          type: string
          deprecated: true
          description: The legal ownership type of the primary seller. E.g. married, beneficiary, etc.
        Name1Middle:
          type: string
          description: The parsed middle name or initial of the primary seller.
        Name1Suffix:
          type: string
          description: The suffix of the primary seller. E.g. Jr, III, etc.
        Name2ClassType:
          type: string
          deprecated: true
          description: Describes the class of the secondary seller based off of the name and vesting. E.g. individual, trust, company.
        Name2First:
          type: string
          description: The first name of the secondary seller.
        Name2Full:
          type: string
          description: The full name of the secondary seller.
        Name2Last:
          type: string
          description: The last name of the secondary seller.
        Name2LegalType:
          type: string
          deprecated: true
          description: The legal ownership type of the secondary seller. E.g. married, beneficiary, etc.
        Name2Middle:
          type: string
          description: The parsed middle name or initial of the secondary seller.
        Name2Suffix:
          type: string
          description: The suffix of the secondary seller. E.g. Jr, III, etc.
    LookupDeeds_SecondaryGrantor:
      type: object
      deprecated: true
      properties:
        Name3ClassType:
          type: string
          description: Describes the class of the third seller based off of the name and vesting. E.g. individual, trust, company.
          deprecated: true
        Name3First:
          type: string
          description: The first name of the third seller.
          deprecated: true
        Name3Full:
          type: string
          description: The full name of the third seller.
          deprecated: true
        Name3Last:
          type: string
          description: The last name of the third seller.
          deprecated: true
        Name3Middle:
          type: string
          description: The parsed middle name or initial of the third seller.
          deprecated: true
        Name3Suffix:
          type: string
          description: The suffix of the third seller. E.g. Jr, III, etc.
          deprecated: true
        Name4ClassType:
          type: string
          description: Describes the class of the fourth seller based off of the name and vesting. E.g. individual, trust, company.
          deprecated: true
        Name4First:
          type: string
          description: The first name of the fourth seller.
          deprecated: true
        Name4Full:
          type: string
          description: The full name of the fourth seller.
          deprecated: true
        Name4Last:
          type: string
          description: The last name of the fourth seller.
          deprecated: true
        Name4Middle:
          type: string
          description: The parsed middle name or initial of the fourth seller.
          deprecated: true
        Name4Suffix:
          type: string
          description: The suffix of the fourth seller. E.g. Jr, III, etc.
          deprecated: true
    LookupDeeds_PrimaryGrantee:
      type: object
      properties:
        Name1ClassType:
          type: string
          description: Describes the class of the primary buyer or borrower based off of the name and vesting. E.g. individual, trust, company.
        Name1First:
          type: string
          description: The first name of the primary buyer or borrower. This will be blank if this is not an individual.
        Name1Full:
          type: string
          description: The full name of the primary buyer or borrower.
        Name1Last:
          type: string
          description: The last name of the primary buyer or borrower. This will be the full name if this is not an individual.
        Name1LegalType:
          type: string
          description: The legal ownership type of the primary buyer or borrower. E.g. married, beneficiary, etc.
        Name1Middle:
          type: string
          description: The parsed middle name or initial of the primary buyer or borrower.
        Name1Suffix:
          type: string
          description: The suffix of the primary buyer or borrower. E.g. Jr, III, etc.
        Name2ClassType:
          type: string
          description: Describes the class of the secondary buyer or borrower based off of the name and vesting. E.g. individual, trust, company.
        Name2First:
          type: string
          description: The first name of the secondary buyer or borrower. This will be blank if this is not an individual.
        Name2Full:
          type: string
          description: The full name of the secondary buyer or borrower.
        Name2Last:
          type: string
          description: The last name of the secondary buyer or borrower. This will be the full name if this is not an individual.
        Name2Middle:
          type: string
          description: The parsed middle name or initial of the secondary buyer or borrower.
        Name2Suffix:
          type: string
          description: The suffix of the secondary buyer or borrower. E.g. Jr, III, etc.
    LookupDeeds_SecondaryGrantee:
      type: object
      deprecated: true
      properties:
        Name3ClassType:
          type: string
          deprecated: true
          description: Describes the class of the third buyer or borrower based off of the name and vesting. E.g. individual, trust, company.
        Name3First:
          type: string
          deprecated: true
          description: The first name of the third buyer or borrower. This will be blank if this is not an individual.
        Name3Full:
          type: string
          deprecated: true
          description: The full name of the third buyer or borrower.
        Name3Last:
          type: string
          deprecated: true
          description: The last name of the third buyer or borrower. This will be the full name if this is not an individual.
        Name3Middle:
          type: string
          deprecated: true
          description: The parsed middle name or initial of the third buyer or borrower.
        Name3Suffix:
          type: string
          deprecated: true
          description: The suffix of the third buyer or borrower. E.g. Jr, III, etc.
        Name4ClassType:
          type: string
          deprecated: true
          description: Describes the class of the fourth buyer or borrower based off of the name and vesting. E.g. individual, trust, company.
        Name4First:
          type: string
          deprecated: true
          description: The first name of the fourth buyer or borrower. This will be blank if this is not an individual.
        Name4Full:
          type: string
          deprecated: true
          description: The full name of the fourth buyer or borrower.
        Name4Last:
          type: string
          deprecated: true
          description: The last name of the fourth buyer or borrower. This will be the full name if this is not an individual.
        Name4Middle:
          type: string
          deprecated: true
          description: The parsed middle name or initial of the fourth buyer or borrower.
        Name4Suffix:
          type: string
          deprecated: true
          description: The suffix of the fourth buyer or borrower. E.g. Jr, III, etc.
    LookupDeeds_TitleCompInfo:
      type: object
      properties:
        StandardizedCode:
          type: string
          deprecated: true
          description: The standard code identifying the title company.
        StandardizedName:
          type: string
          description: The standardized name of the title company.
        TitleCompanyRaw:
          type: string
          description: The entered name of the title company. This is not standardized.
    LookupDeeds_Mortgage1:
      type: object
      properties:
        AdjustableRateIndex:
          type: string
          description: The benchmark interest rate the first mortgage's adjustable rate is based on.
        AdjustableRateRiderFlag:
          type: string
          description: Specifies if the property has an adjustable rate mortgage rider, where the loan interest rate will change on a set date.
        Amount:
          type: string
          description: The loan amount of the first mortgage.
        Book:
          type: string
          description: The first mortgage number book. This can contain either the recorder document book or the legal description book.
        DocNumberFormatted:
          type: string
          description: The first mortgage number based on the book, page, or instrument number.
        DocNumberLegacy:
          type: string
          deprecated: true
          description: The first mortgage loan instrument, book, or page number located on the first sequence trust deed.
        FixedStepConvRate:
          type: string
          description: The interest rate change in a fixed step conversion mortgage for the first mortgage.
          deprecated: true
        InstrumentNumber:
          type: string
          description: If the first mortgage is indexed by a recorder's reference number, this will contain that number. Usually the year will not be added to this field unless there is a regional requirement.
        InterestChangeFreq:
          type: string
          description: The frequency at which interest rates might change.
        InterestIndex:
          type: string
          description: The benchmark interest rate the first mortgage’s rate is based on.
          deprecated: true
        InterestMargin:
          type: string
          description: The fixed percentage rate added to an index value to determine the fully indexed interest rate of an adjustable rate mortgage for the first mortgage.
        InterestOnlyFlag:
          type: string
          description: Specifies if the first mortgage has an interest only period.
        InterestOnlyPeriod:
          type: string
          description: The length of the interest only period, in years.
        InterestRate:
          type: string
          description: The interest rate of the first mortgage.
        InterestRateMax:
          type: string
          description: The maximum interest rate allowed for the first mortgage, if it is an adjustable rate.
        InterestRateType:
          type: string
          description: The interest rate type for the first mortgage.
        InterestTypeChangeDate:
          type: string
          description: |
            Specifies what date the loan will convert from a fixed interest rate to an adjustable interest rate in the format: `YY-MM-DD` (2-digit year, e.g. 2030 = “30”)
        InterestTypeInitial:
          type: string
          deprecated: true
          description: The initial type of interest rate on the first mortgage. E.g. fixed or adjustable.
        IsLenderSeller:
          type: string
          description: Specifies if the lender is also the seller for the first mortgage.
        LenderAddress:
          type: string
          description: The address of the first mortgage lender.
          deprecated: true
        LenderCity:
          type: string
          description: The city of the first mortgage lender.
          deprecated: true
        LenderCode:
          type: string
          deprecated: true
          description: The standard ID code of the lender for the first mortgage.
        LenderFirstName:
          type: string
          description: The first name of the first mortgage lender. This will be the complete name if the lender is a company.
        LenderFullName:
          type: string
          description: The full standardized name of the lender for the first mortgage.
        LenderLastName:
          type: string
          description: The last name of the first mortgage lender.
        LenderState:
          type: string
          description: The state of the first mortgage lender.
          deprecated: true
        LenderType:
          type: string
          deprecated: true
          description: The lender type for the first mortgage.
        LenderZip:
          type: string
          description: The ZIP Code of the first mortgage lender.
          deprecated: true
        MaxInterestRateFirstChange:
          type: string
          deprecated: true
          description: The maximum interest rate allowed when the loan is switched from a fixed to an adjustable interest rate.
        MinInterestRateFirstChange:
          type: string
          deprecated: true
          description: The minimum interest rate allowed when the loan is switched from a fixed to an adjustable interest rate.
        Page:
          type: string
          description: The first mortgage number page. This can contain either the recorder document page or the legal description page.
        PrepaymentPenaltyFlag:
          type: string
          description: Specifies if the first mortgage has a pre-payment penalty.
        PrepaymentTerm:
          type: string
          deprecated: true
          description: The number of months the first mortgage must remain active.
        RecordingDate:
          type: string
          description: |
            The first mortgage official filing date with the format: `YYYY-MM-DD`. This is normally located on the document.
        Term:
          type: string
          description: The duration of the first mortgage. See the associated `TermType` to know the unit of measurement.
          deprecated: true
        TermDate:
          type: string
          description: The due date of the first mortgage.
        TermType:
          type: string
          description: The duration unit of measurement (month, year) for the first mortgage. See the associated `Term` to know the duration.
          deprecated: true
        Type:
          type: string
          description: The type of loan for the first mortgage. E.g. conventional, construction, FHA, etc.
    LookupDeeds_Mortgage2:
      type: object
      deprecated: true
      properties:
        AdjustableRateIndex:
          type: string
          description: The benchmark interest rate the second mortgage's adjustable rate is based on.
        AdjustableRateRiderFlag:
          type: string
          description: Specifies if the property has an adjustable rate mortgage rider, where the loan interest rate will change on a set date.
        Amount:
          type: string
          description: The loan amount of the second mortgage.
        Book:
          type: string
          description: The second mortgage number book. This can contain either the recorder document book or the legal description book.
        DocNumberFormatted:
          type: string
          description: The second mortgage number based on the book, page, or instrument number.
        DocNumberLegacy:
          type: string
          deprecated: true
          description: The second mortgage loan instrument, book, or page number located on the first sequence trust deed.
        FixedStepConvRate:
          type: string
          deprecated: true
          description: The interest rate change in a fixed step conversion mortgage for the second mortgage.
        InstrumentNumber:
          type: string
          description: If the second mortgage is indexed by a recorder’s reference number, this will contain that number. Usually the year will not be added to this field unless there is a regional requirement.
        InterestChangeFreq:
          type: string
          description: The frequency at which interest rates might change.
        InterestIndex:
          type: string
          deprecated: true
          description: The benchmark interest rate the second mortgage’s rate is based on.
        InterestMargin:
          type: string
          description: The fixed percentage rate added to an index value to determine the fully indexed interest rate of an adjustable rate mortgage for the second mortgage.
        InterestOnlyFlag:
          type: string
          description: Specifies if the second mortgage has an interest only period.
        InterestOnlyPeriod:
          type: string
          description: The length of the interest only period, in years.
        InterestRate:
          type: string
          description: The interest rate of the second mortgage.
        InterestRateMax:
          type: string
          description: The maximum interest rate allowed for the second mortgage, if it is an adjustable rate.
        InterestRateType:
          type: string
          description: The interest rate type for the second mortgage.
        InterestTypeChangeDate:
          type: string
          description: |
            Specifies what date the loan will convert from a fixed interest rate to an adjustable interest rate in the format: `YY-MM-DD` (2-digit year, e.g. 2030 = “30”)
        InterestTypeInitial:
          type: string
          description: The initial type of interest rate on the second mortgage. E.g. fixed or adjustable.
        IsLenderSeller:
          type: string
          description: Specifies if the lender is also the seller for the second mortgage.
        LenderAddress:
          type: string
          deprecated: true
          description: The address of the second mortgage lender.
        LenderCity:
          type: string
          deprecated: true
          description: The city of the second mortgage lender.
        LenderCode:
          type: string
          deprecated: true
          description: The standard ID code of the lender for the second mortgage.
        LenderFirstName:
          type: string
          deprecated: true
          description: The first name of the second mortgage lender. This will be the complete name if the lender is a company.
        LenderFullName:
          type: string
          description: The full standardized name of the lender for the second mortgage.
        LenderLastName:
          type: string
          deprecated: true
          description: The last name of the second mortgage lender.
        LenderState:
          type: string
          deprecated: true
          description: The state of the second mortgage lender.
        LenderType:
          type: string
          deprecated: true
          description: The lender type for the second mortgage.
        LenderZip:
          type: string
          deprecated: true
          description: The ZIP Code of the second mortgage lender.
        MaxInterestRateFirstChange:
          type: string
          deprecated: true
          description: The maximum interest rate allowed when the loan is switched from a fixed to an adjustable interest rate.
        MinInterestRateFirstChange:
          type: string
          deprecated: true
          description: The minimum interest rate allowed when the loan is switched from a fixed to an adjustable interest rate.
        Page:
          type: string
          description: The second mortgage number page. This can contain either the recorder document page or the legal description page.
        PrepaymentPenaltyFlag:
          type: string
          description: Specifies if the second mortgage has a pre-payment penalty.
        PrepaymentTerm:
          type: string
          deprecated: true
          description: The number of months the second mortgage must remain active.
        RecordingDate:
          type: string
          description: |
            The second mortgage official filing date with the format: `YYYY-MM-DD`. This is normally located on the document.
        Term:
          type: string
          deprecated: true
          description: The duration of the second mortgage. See the associated `TermType` to know the unit of measurement.
        TermDate:
          type: string
          description: The due date of the second mortgage.
        TermType:
          type: string
          deprecated: true
          description: The duration unit of measurement (month, year) for the second mortgage. See the associated `Term` to know the duration.
        Type:
          type: string
          description: The type of loan for the second mortgage. E.g. conventional, construction, FHA, etc.
    LookupDeeds_Valuation:
      type: object
      deprecated: true
      properties:
        EstDownPayment:
          type: string
          deprecated: true
          description: The estimated down payment made at the time of purchase.
        EstLTV:
          type: string
          deprecated: true
          description: The estimated loan to value at the time of purchase.
    Response_LookupHomesByOwner:
      type: object
      properties:
        Version:
          type: string
          description: The current service version number.
        TransmissionReference:
          type: string
          description: Serves as a unique request identifier.
        Results:
          type: string
          description: Lists error codes from any errors caused by the most recent request as a whole. For more information, see [Property Result Codes](https://docs.melissa.com/cloud-api/property/result-codes.html).
        TotalRecords:
          type: integer
          description: Total number of records.
        Records:
          type: array
          xml:
            name: Records
            wrapped: true
          items:
            $ref: '#/components/schemas/LookupHomesByOwner_Records'
    LookupHomesByOwner_Records:
      type: object
      properties:
        APN:
          type: string
          description: The Assessor's Parcel Number (APN).
        BaseMAK:
          type: string
          description: A unique key assigned to the base address of a complex with apartments or suites.
        FIPS:
          type: string
          description: The six-digit Federal Information Processing Standard (FIPS) code for the county containing the property.
        MAK:
          type: string
          description: (Melissa Address Key) A unique key assigned to the address record.
        PropertyAddress:
          type: string
          description: The address of the property.
        PropertyCity:
          type: string
          description: The city containing the property.
        PropertyPlus4:
          type: string
          description: The plus 4 of the ZIP Code containing the property.
        PropertyState:
          type: string
          description: The state containing the property.
        PropertyZip:
          type: string
          description: The ZIP Code containing the property.
    Request_LookupProperty:
      type: object
      required:
        - CustomerId
      properties:
        Columns:
          type: string
          description: |
            [Columns](https://docs.melissa.com/cloud-api/property/property-reference-guide.html#property-referenceguide-lookupproperty-columns) - The column names or groups to be output.

            Entering the column name will return the column. Specifying a group name will return all columns in the group.

            Delimit multiple columns with a `,`.

            For example: `ColumnName,ColumnName`.

            Columns:

            `GrpAll` - **Recommended.** Indicates to the Cloud API that all fields should be returned.
            <details>
            <summary> <code>GrpParcel</code> - Parcel info </summary>

              - `AccountNumber`
              - `AlternateAPN`
              - `APNYearChange` *(Deprecated)*
              - `County`
              - `FIPSCode`
              - `FormattedAPN`
              - `MapBook`
              - `MapPage`
              - `MinorCivilDivisionName`
              - `PreviousAPN`
              - `UnformattedAPN`
              - `YearAdded` *(Deprecated)*

            </details>
            <details>
            <summary> <code>GrpLegal</code> - Legal description info </summary>

              - `Block1`
              - `Block2` *(Deprecated)*
              - `LegalDescription`
              - `LotNumber1`
              - `LotNumber2`
              - `LotNumber3`
              - `Phase`
              - `Quarter`
              - `QuarterQuarter`
              - `Range`
              - `Section`
              - `Subdivision`
              - `Township`
              - `TractNumber`
              - `Unit`

            </details>
            <details>
            <summary> <code>GrpPropertyAddress</code> - Address of the property </summary>

              - `Address`
              - `AddressKey`
              - `BaseMAK`
              - `CarrierRoute`
              - `City`
              - `Latitude`
              - `Longitude`
              - `MAK`
              - `PrivacyInfo`
              - `State`
              - `Zip`

            </details>
            <details>
            <summary> <code>GrpParsedPropertyAddress</code> - Parsed elements of the property address </summary>

              - `PostDirectional`
              - `PreDirectional`
              - `Range`
              - `StreetName`
              - `Suffix`
              - `SuiteName`
              - `SuiteRange`

            </details>
            <details>
            <summary> <code>GrpPrimaryOwner</code> - Primary owner info </summary>

              - `CompanyFlag`
              - `MelissaIdentityKey1`
              - `MelissaIdentityKey2`
              - `Name1First`
              - `Name1Full`
              - `Name1Last`
              - `Name1Middle`
              - `Name1Suffix`
              - `Name2First`
              - `Name2Full`
              - `Name2Last`
              - `Name2Middle`
              - `Name2Suffix`
              - `TrustFlag`
              - `Type` *(Deprecated)*
              - `VestingType`

            </details>
            <details>
            <summary> <code>GrpSecondaryOwner</code> <i>(Deprecated)</i> - Secondary owner info </summary>

              - `Name3First` *(Deprecated)*
              - `Name3Full` *(Deprecated)*
              - `Name3Last` *(Deprecated)*
              - `Name3Middle` *(Deprecated)*
              - `Name3Suffix` *(Deprecated)*
              - `Name4First` *(Deprecated)*
              - `Name4Full` *(Deprecated)*
              - `Name4Last` *(Deprecated)*
              - `Name4Middle` *(Deprecated)*
              - `Name4Suffix` *(Deprecated)*
              - `Type` *(Deprecated)*

            </details>
            <details>
            <summary> <code>GrpOwnerAddress</code> - Owner's address info </summary>

              - `Address`
              - `BaseMAK`
              - `CarrierRoute`
              - `City`
              - `FormatInfo`
              - `MAK`
              - `PrivacyInfo`
              - `State`
              - `Zip`

            </details>
            <details>
            <summary> <code>GrpLastDeedOwnerInfo</code> - Owner info listed on latest deed for the property </summary>

              - `Name1First`
              - `Name1Full`
              - `Name1Last`
              - `Name1Middle`
              - `Name1Suffix`
              - `Name2First`
              - `Name2Full`
              - `Name2Last`
              - `Name2Middle`
              - `Name2Suffix`
              - `Name3First` *(Deprecated)*
              - `Name3Full` *(Deprecated)*
              - `Name3Last` *(Deprecated)*
              - `Name3Middle` *(Deprecated)*
              - `Name3Suffix` *(Deprecated)*
              - `Name4First` *(Deprecated)*
              - `Name4Full` *(Deprecated)*
              - `Name4Last` *(Deprecated)*
              - `Name4Middle` *(Deprecated)*
              - `Name4Suffix` *(Deprecated)*

            </details>
            <details>
            <summary> <code>GrpCurrentDeed</code> - Other deed info listed on the latest deed for the property </summary>

              - `LenderCode` *(Deprecated)*
              - `LenderName`
              - `MortgageAmount`
              - `MortgageDate`
              - `MortgageDueDate`
              - `MortgageLoanTypeCode`
              - `MortgageTerm`
              - `MortgageTermCode`
              - `SecondMortgageAmount`
              - `SecondMortgageLoanTypeCode`

            </details>
            <details>
            <summary> <code>GrpTax</code> - Property tax info </summary>

              - `AssessedImprovementsPerc`
              - `AssessedValueImprovements`
              - `AssessedValueLand`
              - `AssessedValueTotal`
              - `AssrLastUpdated`
              - `LastTaxRollUpdate`
              - `MarketImprovementsPerc`
              - `MarketValueImprovements`
              - `MarketValueLand`
              - `MarketValueTotal`
              - `MarketValueYear`
              - `PreviousAssessedValue` *(Deprecated)*
              - `PropertyUseGroup`
              - `PropertyUseMuni`
              - `PropertyUseStandardized`
              - `TaxBilledAmount`
              - `TaxDelinquentYear`
              - `TaxExemptionAdditional`
              - `TaxExemptionDisabled`
              - `TaxExemptionHomeowner`
              - `TaxExemptionSenior`
              - `TaxExemptionVeteran`
              - `TaxExemptionWidow`
              - `TaxFiscalYear`
              - `TaxRateArea`
              - `YearAssessed`
              - `YearBuilt`
              - `YearBuiltEffective`
              - `ZonedCodeLocal`

            </details>
            <details>
            <summary> <code>GrpPropertyUseInfo</code> - Property usage info </summary>

              - `PropertyUseGroup`
              - `PropertyUseMuni`
              - `PropertyUseStandardized`
              - `YearBuilt`
              - `YearBuiltEffective`
              - `ZonedCodeLocal`

            </details>
            <details>
            <summary> <code>GrpSaleInfo</code> - Property sale info </summary>

              - `AssessorLastSaleAmount`
              - `AssessorLastSaleDate`
              - `AssessorPriorSaleAmount`
              - `AssessorPriorSaleDate`
              - `DeedLastDocumentNumber`
              - `DeedLastSaleDate`
              - `DeedLastSaleDocumentBook`
              - `DeedLastSaleDocumentPage`
              - `DeedLastSalePrice`
              - `DeedLastSaleTxID` *(Deprecated)*
              - `LastOwnershipTransferDate`
              - `LastOwnershipTransferDocumentNumber`
              - `LastOwnershipTransferTxID` *(Deprecated)*

            </details>
            <details>
            <summary> <code>GrpPropertySize</code> - Property size info </summary>

              - `Area1stFloor`
              - `Area2ndFloor`
              - `AreaBuilding`
              - `AreaBuildingDefinitionCode`
              - `AreaGross`
              - `AreaLotAcres`
              - `AreaLotSF`
              - `AreaUpperFloors`
              - `AtticArea`
              - `AtticFlag`
              - `BasementArea`
              - `BasementAreaFinished`
              - `BasementAreaUnfinished`
              - `LotDepth`
              - `LotWidth`
              - `ParkingCarport`
              - `ParkingCarportArea`
              - `ParkingGarage`
              - `ParkingGarageArea`

            </details>
            <details>
            <summary> <code>GrpPool</code> - Pool info </summary>

              - `Pool`
              - `PoolArea`
              - `SaunaFlag`

            </details>
            <details>
            <summary> <code>GrpIntStructInfo</code> - Interior structural info </summary>

              - `Construction`
              - `ConstructionFireResistanceClass`
              - `FlooringMaterialPrimary`
              - `Foundation`
              - `InteriorStructure`
              - `PlumbingFixturesCount`
              - `SafetyFireSprinklersFlag`

            </details>
            <details>
            <summary> <code>GrpIntRoomInfo</code> - Interior rooms info </summary>

              - `BathCount`
              - `BathPartialCount`
              - `BedroomsCount`
              - `BonusRoomFlag`
              - `BreakfastNookFlag`
              - `CellarFlag`
              - `CellarWineFlag` *(Deprecated)*
              - `ExcerciseFlag`
              - `FamilyCode`
              - `GameFlag`
              - `GreatFlag`
              - `HobbyFlag`
              - `LaundryFlag`
              - `MediaFlag`
              - `MudFlag`
              - `OfficeArea`
              - `OfficeFlag`
              - `RoomsCount`
              - `SafeRoomFlag`
              - `SittingFlag`
              - `StoriesCount`
              - `StormFlag`
              - `StudyFlag`
              - `SunroomFlag`
              - `UnitsCount`
              - `UtilityArea`
              - `UtilityCode`

            </details>
            <details>
            <summary> <code>GrpIntAmenities</code> - Interior amenities info </summary>

              - `AccessabilityElevatorFlag`
              - `AccessabilityHandicapFlag`
              - `CentralVacuumFlag`
              - `EscalatorFlag`
              - `Fireplace`
              - `FireplaceCount`
              - `IntercomFlag`
              - `SecurityAlarmFlag`
              - `SoundSystemFlag`
              - `WetBarFlag`

            </details>
            <details>
            <summary> <code>GrpExtStructInfo</code> - Exterior structural info </summary>

              - `Exterior1Code`
              - `OverheadDoorFlag`
              - `RoofConstruction`
              - `RoofMaterial`
              - `StormShutterFlag`
              - `StructureStyle`

            </details>
            <details>
            <summary> <code>GrpExtAmenities</code> - Exterior amenities info </summary>

              - `BalconyArea`
              - `BreezewayFlag`
              - `DeckArea`
              - `DeckFlag`
              - `FeatureBalconyFlag`
              - `PatioArea`
              - `PorchArea`
              - `PorchCode`
              - `ViewDescription`

            </details>
            <details>
            <summary> <code>GrpExtBuildings</code> - Exterior building info </summary>

              - `BathHouseArea`
              - `BathHouseFlag`
              - `BoatAccessFlag` *(Deprecated)*
              - `BoatHouseArea`
              - `BoatHouseFlag`
              - `BuildingsCount`
              - `CabinArea`
              - `CabinFlag`
              - `CanopyArea`
              - `CanopyFlag`
              - `GazeboArea`
              - `GazeboFlag`
              - `GranaryArea`
              - `GranaryFlag`
              - `GreenHouseArea`
              - `GreenHouseFlag`
              - `GuestHouseArea`
              - `GuestHouseFlag`
              - `KennelArea`
              - `KennelFlag`
              - `LeanToArea`
              - `LeanToFlag`
              - `LoadingPlatformArea`
              - `LoadingPlatformFlag`
              - `MilkHouseArea`
              - `MilkHouseFlag`
              - `OutdoorKitchenFireplaceFlag`
              - `PoleStructureArea`
              - `PoleStructureFlag`
              - `PoolHouseArea`
              - `PoolHouseFlag`
              - `PoultryHouseArea`
              - `PoultryHouseFlag`
              - `QuonsetArea`
              - `QuonsetFlag`
              - `ShedArea`
              - `ShedCode`
              - `SiloArea`
              - `SiloFlag`
              - `StableArea`
              - `StableFlag`
              - `StorageBuildingArea`
              - `StorageBuildingFlag`
              - `UtilityBuildingArea`
              - `UtilityBuildingFlag`

            </details>
            <details>
            <summary> <code>GrpUtilities</code> - Utility info </summary>

              - `HVACCoolingDetail`
              - `HVACHeatingDetail`
              - `HVACHeatingFuel`
              - `MobileHomeHookupFlag`
              - `SewageUsage`
              - `WaterSource`

            </details>
            <details>
            <summary> <code>GrpParking</code> - Parking info </summary>

              - `DrivewayArea`
              - `DrivewayMaterial`
              - `ParkingSpaceCount`
              - `RVParkingFlag`

            </details>
            <details>
            <summary> <code>GrpYardGardenInfo</code> - Yard & garden info </summary>

              - `ArborPergolaFlag`
              - `ArenaFlag`
              - `BoatLiftFlag`
              - `CourtyardArea`
              - `CourtyardFlag`
              - `FenceArea`
              - `FenceCode`
              - `GolfCourseGreenFlag`
              - `PondFlag`
              - `SportsCourtFlag`
              - `SprinklersFlag`
              - `TennisCourtFlag`
              - `TopographyCode`
              - `WaterFeatureFlag`

            </details>
            <details>
            <summary> <code>GrpEstimatedValue</code> - Calculated estimated value of the property </summary>

              - `ConfidenceScore`
              - `EstimatedMaxValue`
              - `EstimatedMinValue`
              - `EstimatedValue`
              - `ValuationDate`

            </details>
            <details>
            <summary> <code>GrpShape</code> - Parcel geometry shape in well known text format </summary>

              - `WellKnownText`

            </details>
        CustomerId:
          type: string
          description: Required. The [License Key](https://docs.melissa.com/melissa/license/license-information.html) issued by Melissa.
        Options:
          type: string
          description: |
            [Options](https://docs.melissa.com/cloud-api/property/property-reference-guide.html#property-referenceguide-lookupproperty-options) - Specify which options to use. List options in `<OptionName>:<Parameter>` format. Multiple options are delimited with a `,`.

            For example: `OptionName:Parameter,OptionName:Parameter`.
            - `Desc:< off | on >` - Default set to `off`. This options allows Property to return back human readable descriptions and meanings instead of codes.
            - `LatestMortgage:< Off | On >` - Default set to `Off`. This options allows Property to have the CurrentDeed structure represent the latest mortgage, if available.
        TotalRecords:
          type: string
          description: The total number of records in the request.
        TransmissionReference:
          type: string
          description: This is a string value that serves as a unique identifier for this set of records. It is returned as sent.
        Records:
          type: array
          items:
            type: object
            properties:
              RecordID:
                type: string
                description: A unique identifier for the current record.
              AddressKey:
                type: string
                description: An 11-digit key of the property. Based on the Zip5, Plus4 and two digit delivery code.
              AddressLine1:
                type: string
                description: Input field for address line 1. This should contain the delivery address information (house number, street, building, suite, etc.) but should not contain locality information (city, state, postal code, etc.) which have their own inputs.
              AddressLine2:
                type: string
                description: 'Input field for address line 2. This can be a continuation of AddressLine1 (ex: suite) or another address.'
              APN:
                type: string
                description: Assessor's Parcel Number (APN) for the property.
              City:
                type: string
                description: The city for the property.
              Country:
                type: string
                description: The country for the property. Currently only properties in the US can be looked up.
              FIPS:
                type: string
                description: Federal Information Processing Standard (FIPS) code for the property.
              FreeForm:
                type: string
                description: Free form address for the property.
              MAK:
                type: string
                description: A proprietary unique key identifier for an address derived from Address Checking.
              State:
                type: string
                description: The US state for the property.
              PostalCode:
                type: string
                description: The postal code for the property.
    Response_LookupProperty:
      type: object
      properties:
        Version:
          type: string
          description: The current service version number.
        TransmissionReference:
          type: string
          description: Serves as a unique request identifier.
        TransmissionResults:
          type: string
          description: Lists error codes from any errors caused by the most recent request as a whole. For more information, see [Property Result Codes](https://docs.melissa.com/cloud-api/property/result-codes.html).
        TotalRecords:
          type: integer
          description: Total number of records.
        Records:
          type: array
          xml:
            name: Records
            wrapped: true
          description: The returned array of records.
          items:
            $ref: '#/components/schemas/LookupProperty_Records'
    LookupProperty_Records:
      type: object
      properties:
        RecordID:
          type: string
          description: The position of the record in the response array.
        Results:
          type: string
          description: Comma delimited status, error codes, and change codes for the record. For more information, see [Property Result Codes](https://docs.melissa.com/cloud-api/property/result-codes.html).
        Parcel:
          $ref: '#/components/schemas/LookupProperty_Parcel'
        Legal:
          $ref: '#/components/schemas/LookupProperty_Legal'
        PropertyAddress:
          $ref: '#/components/schemas/LookupProperty_PropertyAddress'
        ParsedPropertyAddress:
          $ref: '#/components/schemas/LookupProperty_ParsedPropertyAddress'
        PrimaryOwner:
          $ref: '#/components/schemas/LookupProperty_PrimaryOwner'
        SecondaryOwner:
          $ref: '#/components/schemas/LookupProperty_SecondaryOwner'
        OwnerAddress:
          $ref: '#/components/schemas/LookupProperty_OwnerAddress'
        LastDeedOwnerInfo:
          $ref: '#/components/schemas/LookupProperty_LastDeedOwnerInfo'
        CurrentDeed:
          $ref: '#/components/schemas/LookupProperty_CurrentDeed'
        Tax:
          $ref: '#/components/schemas/LookupProperty_Tax'
        PropertyUseInfo:
          $ref: '#/components/schemas/LookupProperty_PropertyUseInfo'
        SaleInfo:
          $ref: '#/components/schemas/LookupProperty_SaleInfo'
        PropertySize:
          $ref: '#/components/schemas/LookupProperty_PropertySize'
        Pool:
          $ref: '#/components/schemas/LookupProperty_Pool'
        IntStructInfo:
          $ref: '#/components/schemas/LookupProperty_IntStructInfo'
        IntRoomInfo:
          $ref: '#/components/schemas/LookupProperty_IntRoomInfo'
        IntAmenities:
          $ref: '#/components/schemas/LookupProperty_IntAmenities'
        ExtStructInfo:
[...]
